# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit test / coverage related
.tox
.coverage
.cache
htmlcov
coverage.xml
nosetests.xml

# IDE stuff
.idea

# Mac OS X junk
.DS_Store

node_modules
td/site_media
