Django==1.7.1
amqp==1.4.6
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.19
celery==3.1.17
dj-database-url==0.3.0
django-appconf==0.6
django-bootstrap-form==3.1
django-celery==3.1.16
django-jsonfield==0.9.13
django-redis-cache==0.13.0
django-user-accounts==1.0
eventlog==0.8.0
gondor==1.2.5
gunicorn==19.1.1
kaleo==1.5
kombu==3.0.24
metron==1.3.5
mock==1.0.1
pinax-theme-bootstrap==5.6.0
psycopg2==2.5.4
pytz==2014.10
raven==5.1.1
redis==2.10.3
requests==2.4.3
six==1.9.0
wsgiref==0.1.2
xlrd==0.9.3
