.dropdown {
    &.exports,
    &.data-sources {
        .dropdown-menu {
            a {
                position: relative;
                padding-right: 130px;
                em {
                    .text-muted;
                    position: absolute;
                    right: 20px;
                    top: 3px;
                    margin-left: 40px;
                }
            }
        }
    }
}
body {
    padding-top: 50px;
}
#content_body {
    padding-top: 10px;
}
.jumbotron {
  clear: both;
  position:relative;
}
label {
  font-weight: normal;
  &.required {
    font-weight: bold;
    &:after {
      content: " *";
    }
  }
}
.placeholder-text {
    color: #999;
}
.nav-tabs {
  & > li {
    cursor: pointer;
  }
}
.table-borderless {
  & > tbody > tr > th,
  & > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid #DDD;
  }
  & > tr:last-child > th,
  & > tr:last-child > td {
    border: none;
  }
}
// This fixes the styling error when displaying checkboxes or radio buttons in forms, where the checkbox is off to the
// right of the input and not aligned. That's caused by django/bootstrap styling all input to be 100% wide.
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  width: auto;
}
.multi-view-container {
  min-height: 200px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  position: relative;
  & > div {
    min-height: 100%;
  }
}
.event-list-table-container {
  h2 {
    display: inline-block;
  }
  .event-count-form {
    display: inline;
    margin-left: 2rem;
  }
}
.nav.nav-tabs.view-tabs .active a {
  background-color: #EEE;
}
.top-right-spaced {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#id_honeypot,
.comment-form-container .control-label {
  display: none;
}
.comment-list-container {
  margin-top: 5rem;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 2rem;
  }
  .comment-list-header {
    margin-bottom: 3rem;
    h3 {
      margin: 0;
    }
  }
  .comment-list-info {
    color: #999;
    font-size: 90%;
  }
}
.btn.btn-icon {
  background-color: transparent;
  color: #AAA;
  padding: 3px;
  &:hover {
    color: #666;
  }
}
.comment-filter {
  a {
    border: 1px solid #AAA;
    color: #AAA;
    cursor: pointer;
  }
  .active a {
    border-color: inherit;
  }
  .btn-xs {
    padding: 0.5rem 1rem;
  }
}