{% load humanize %}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Country</th>
            <th>Population</th>
            <th>Primary Networks</th>
        </tr>
    </thead>
    <tbody>
        {% for country in country_list %}
            <tr>
                <td><a href="{% url "country_detail" country.pk %}">{{ country.name }}</a></td>
                <td class="text-right">{{ country.population|default:""|intcomma }}</td>
                <td>
                    {% for network in country.primary_networks.all %}
                        <a href="{{ network.get_absolute_url }}">{{ network }}</a>{% if forloop.last %}{% else %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
