{% load humanize %}

<div class="well well-sm">
    <span>See it on <a href="http://joshuaproject.net/languages/{{ data.ROL3 }}" target="_blank">Joshua Project</a></span>
</div>

<table class="table table-no-border">
    <tbody>
        <tr><th class="col-md-3">Population of Groups Speaking</th><td>{{ data.JPPopulation|default:"-"|intcomma }}</td></tr>
        <tr><th>People Group's Primary Language</th><td>{{ data.NbrPGICs|default:"-" }}</td></tr>
        <tr><th>Bible Status</th><td>{{ data.BibleStatus|default:"-" }}</td></tr>
        <tr><th>Questionable Translation Need</th><td>{% if data.TranslationNeedQuestionable == 'Y' %}Yes{% else %}No{% endif %}</td></tr>
        <tr><th>Global Recordings</th><td>{% if data.AudioRecordings == 'Y' %}<a href="{{ data.GRN_URL }}" target="_blank">Listen</a>{% else %}-{% endif %}</td></tr>
        <tr><th>Jesus Film</th><td>{% if data.JF == 'Y' %}<a href="{{ data.JF_URL }}" target="_blank">Watch</a>{% else %}-{% endif %}</td></tr>
        <tr><th>Complete Bible Availability</th><td>{{ data.BibleYear|default:"-" }}</td></tr>
        <tr><th>New Testament Availability</th><td>{{ data.NTYear|default:"-" }}</td></tr>
    </tbody>
</table>
<table class="table table-no-border">
    <tbody>
        <tr><th>NbrCountries</th><td>{{ data.NbrCountries|default:"-" }}</td></tr>
        <tr><th>Online</th><td>{{ data.Online|default:"-" }}</td></tr>
        <tr><th>LeastReached</th><td>{{ data.LeastReached|default:"-" }}</td></tr>
        <tr><th>% Evangelical</th><td>{{ data.PercentEvangelical|default:"-" }}</td></tr>
        <tr><th>Status</th><td>{{ data.Status|default:"-" }}</td></tr>
        <tr><th>Language</th><td>{{ data.Language|default:"-" }}</td></tr>
        <tr><th>ROG3</th><td>{{ data.ROG3|default:"-" }}</td></tr>
        <tr><th>JPScale</th><td>{{ data.JPScale|default:"-" }}</td></tr>
        <tr><th>ROL3Edition14</th><td>{{ data.ROL3Edition14|default:"-" }}</td></tr>
        <tr><th>ROL3Edition14Orig</th><td>{{ data.ROL3Edition14Orig|default:"-" }}</td></tr>
        <tr><th>PortionsYear</th><td>{{ data.PortionsYear|default:"-" }}</td></tr>
        <tr><th>WorldSpeakers</th><td>{{ data.WorldSpeakers|default:"-" }}</td></tr>
        <tr><th>RLG3</th><td>{{ data.RLG3|default:"-" }}</td></tr>
        <tr><th>HubCountry</th><td>{{ data.HubCountry|default:"-" }}</td></tr>
        <tr><th>PrimaryReligion</th><td>{{ data.PrimaryReligion|default:"-" }}</td></tr>
        <tr><th>PercentAdherents</th><td>{{ data.PercentAdherents|default:"-" }}</td></tr>
        <tr><th>4Laws</th><td>{{ data.4Laws|default:"-" }}</td></tr>
        <tr><th>4Laws_URL</th><td>{{ data.4Laws_URL|default:"-" }}</td></tr>
        <tr><th>Unwritten</th><td>{{ data.Unwritten|default:"-" }}</td></tr>
        <tr><th>YouVersion_ID</th><td>{{ data.YouVersion_ID|default:"-" }}</td></tr>

<!--         {% for key, value in data.items %}
            <tr><th {% if forloop.first %}class="col-md-2"{% endif %}>{{ key }}</th><td>{{ value }}</td><tr>
        {% endfor %} -->


    <!--         <tr><th class="col-md-2">Alternate Names</th><td>{{ language.alt_names }}</td><tr>
            <tr><th>Code</th><td>{{ language.code }}</td></tr>
            <tr><th>ISO 639-3</th><td>{{ language.iso_639_3 }}</td></tr>
            <tr>
                <th>Gateway Language</th>
                <td>
                    {{ language.gateway_language|default:"-" }}
                    {% if language.gateway_language.ang and language.gateway_language.ang != language.gateway_language.ln %}
                     ({{ language.gateway_language.anglicized_name }})
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Region</th>
                <td>
                    {{ language.lr }} {% if user.is_authenticated and language.gateway_flag %} (WA: {{ language.wa_region }}){% endif %}
                </td>
            </tr>
            <tr><th>Country</th><td>{{ language.country }}</td></tr>
            <tr><th>Spoken in</th><td>{{ countries|join:", " }}</td></tr>
            <tr><th>Direction</th><td>{% if language.direction == "r" %}right-to-left{% else %}left-to-right{% endif %}</td></tr> -->
     </tbody>
</table>