{% load humanize %}

<table class="table js-language-datatable">
    <thead>
        <tr>
            <th></th>
            <th>Language</th>
            <th>Is Gateway</th>
            <th>Gateway Language</th>
            <th>Native Speakers</th>
            <th>Networks Translating</th>
        </tr>
    </thead>
    <tbody>
        {% for language in language_list %}
            <tr>
                <td>
                    <a class="btn btn-default btn-xs" href="{% url "language_edit" language.pk %}"><i class="fa fa-fw fa-pencil"></i> Edit</a>
                </td>
                <td>
                    <a href="{% url "language_detail" language.pk %}">{{ language.name }} ({{ language.code }})</a>
                </td>
                <td>{% if language.gateway_flag %}<i class="fa fa-check fa-lg"></i>{% endif %}</td>
                <td>{% if language.gateway_language %}{{ language.gateway_language.name }} ({{ language.gateway_language.code }}){% endif %}</td>
                <td>{{ language.native_speakers|default:""|intcomma }}</td>
                <td>
                    {% for network in language.networks_translating.all %}
                        <a href="{{ network.get_absolute_url }}">{{ network }}</a>{% if forloop.last %}{% else %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    // NOTE: Initialization. Could be moved somewhere else.
    document.addEventListener('DOMContentLoaded', function() {
       $('table.js-language-datatable').DataTable({
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
</script>