{% load humanize %}

<table class="table js-datatable">
    <thead>
        <tr>
            {% if user.is_authenticated %}
                <th></th>
            {% endif %}
            <th>Language</th>
            <th>Is Gateway</th>
            <th>Gateway Language</th>
            <th>Native Speakers</th>
            <th>Networks Translating</th>
        </tr>
    </thead>
    <tbody>
        {% for language in language_list %}
            <tr>
                {% if user.is_authenticated %}
                    <td>
                        <a class="" href="{% url "language_edit" language.pk %}"><i class="fa fa-fw fa-pencil"></i></a>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ language.get_absolute_url }}">{{ language.name }} ({{ language.code }})</a>
                </td>
                <td>{% if language.gateway_flag %}<i class="fa fa-check fa-lg"></i>{% endif %}</td>
                <td>{% if language.gateway_language %}{{ language.gateway_language.name }} ({{ language.gateway_language.code }}){% endif %}</td>
                <td>{{ language.native_speakers|default:""|intcomma }}</td>
                <td>
                    {% for network in language.networks_translating.all %}
                        <a href="{{ network.get_absolute_url }}">{{ network }}</a>{% if forloop.last %}{% else %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
