<table class="table">
    <tbody>
        {% if data %}

            <tr>
                <th>Translation Project</th>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url "tracking:charter_update" charter.id %}">Edit</a>
                </td>
            </tr>
            <tr><th>Start Date</th><td>{{ data.start_date }}</td></tr>
            <tr><th>Completion Date</th><td>{{ data.end_date }}</td></tr>
            <tr><th>Lead Department</th><td>{{ data.lead_dept }}</td></tr>
            <tr><th>Contact Person</th><td>{{ data.contact_person }}</td></tr>
            <tr><th>Accounting Number</th><td>{{ data.number }}</td></tr>
            <tr><th>Created At</th><td>{{ data.created_at }}</td></tr>
            <tr><th>Created By</th><td>{{ data.created_by }}</td></tr>

        {% else %}

            <tr>
                <th>Translation Project</th>
                <td>
                    <a class="btn btn-primary btn-xs" href="{% url "tracking:charter_add" %}">Add</a>
                </td>
            </tr>

        {% endif %}
    </tbody>
</table>
