<div id="accordion" class="status__list panel-group" role="tablist" aria-multiselectable="true">
    {% for obj in pending %}
    <div class="panel panel-default">

        <div id="templang-heading-{{ forloop.counter }}" class="panel-heading templang-summary" role="tab">
            <h4 class="panel-title col-md-4">
                <a class="btn-link" role="button" data-toggle="collapse" data-parent="#accordion" href="#templang-body-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseOne">
                    {{ obj.code }}
                </a>
            </h4>
            </h4>
            <h4 class="panel-title col-md-4">{{ obj.requester }}</h4>
            <h4 class="panel-title col-md-4">{{ obj.modified_at }}</h4>
        </div>

        <div id="templang-body-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="templang-heading-1">
            <div class="panel-body templang-info">

                <div class="templang-info__detail">
                    <div class=" col-md-6 col-sm-12">
                        <table class="table table-condensed table-borderless">
                            <tbody>
                                <tr>
                                    <th>Language Assigned</th>
                                    <td>{% if obj.lang_assigned_url %}<a href="{{ obj.lang_assigned_url }}">{{ obj.lang_assigned }}</a>{% else %}-{% endif %}</td>
                                </tr>
                                <tr><th>Requester</th><td>{{ obj.requester|default:"-" }}</td></tr>
                                <tr><th>App</th><td>{{ obj.get_app_display|default:"-" }}</td></tr>
                                <tr><th>Status</th><td>{{ obj.get_status_display|default:"-" }}</td></tr>
                                <tr><th>Status Comment</th><td>{{ obj.status_comment|default:"-" }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <table class="table table-condensed table-borderless">
                            <tbody>
                                <tr>
                                    <th class="col-md-3">Questionnaire</th>
                                    <td><a href="{% url "templanguage_questionnaire" obj.pk %}" target="__blank"><i class="fa fa-comments"></i></a></td>
                                </tr>
                                <tr><th>Created at</th><td>{{ obj.created_at|default:"-" }}</td></tr>
                                <tr><th>Created by</th><td>{{ obj.created_by|default:"-" }}</td></tr>
                                <tr><th>Modified at</th><td>{{ obj.modified_at|default:"-" }}</td></tr>
                                <tr><th>Modified by</th><td>{{ obj.modified_by|default:"-" }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="templang-info__actions col-md-12">
                    <a class="approve-button" href="{% url "language_edit_modal" obj.lang_assigned.pk %}" data-toggle="modal" data-target="#modal" title="Hello" data-tooltip>
                        <button class="btn btn-sm btn-primary"><i class="fa fa-check"></i> Approve</button>
                    </a>
                    <button class="btn btn-sm btn-default disabled"><i class="fa fa-pencil"></i> Edit</button>
                    <button class="btn btn-sm btn-warning disabled"><i class="fa fa-clone"></i> Merge</button>
                    <button class="btn btn-sm btn-danger disabled"><i class="fa fa-times"></i> Reject</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>