{% extends "site_base.html" %}

{% load humanize %}

{% block body %}
    <h2>Countries</h2>
    <hr />
    <table id="country-list-table" class="table table-borderless" data-source="{% url "ajax_ds_country_list" %}" style="width: 100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Alpha 3 Code</th>
                <th>Name</th>
                <th>Region</th>
                <th>WA Region</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
