{% extends "site_base.html" %}

{% load humanize %}
{% load comments %}


{% block head_title %}Country Detail{% endblock %}


{% block body_class %}country-detail{% endblock %}


{% block body %}

    {% include "resources/_breadcrumbs.html" with region=country.region %}

    <!-- TITLE -->
    <div class="jumbotron jumbotron-custom center-text">
        <h1 class="language-title">{{ country.name }}</h1>
        {% if user.is_authenticated %}
            <span class="top-right-spaced">
                <a class="btn btn-default btn-xs" href="{% url "country_edit" country.pk %}" title="Edit {{ country.name }}"><i class="fa fa-pencil"></i> Edit</a>
            </span>
        {% endif %}
    </div>

    <!-- VIEW TABS -->
    <ul class="nav nav-tabs view-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" data-target="#general-view">General Info</a></li>
        <li role="presentation"><a data-toggle="tab" data-target="#languages-view">Languages</a></li>
        {% if user.is_authenticated %}
            <li role="presentation"><a data-toggle="tab" data-target="#comments-view">Comments</a></li>
        {% endif %}
    </ul>

    <!-- TAB CONTENT -->
    <div class="multi-view-container tab-content">

        <!-- GENERAL VIEW -->
        <div id="general-view" class="row tab-pane active">
            <div class="col-md-12">
                <table class="table table-borderless">
                    <tbody>
                        <tr><th class="col-md-2">Code</th><td>{{ country.code|default:"_" }}</td><tr>
                        <tr><th>Hashtag</th><td>{{ country.hashtag|default:"-" }}</td></tr>
                        <tr><th>Population</th><td>{{ country.population|default:"-"|intcomma }}</td></tr>
                        <tr><th>Region</th><td>{{ country.region|default:"-" }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- LANGUAGES VIEW -->
        <div id="languages-view" class="row tab-pane">
            <div class="col-md-12">
                {% include "resources/_language_list.html" with language_list=country.language_set.all %}
            </div>
        </div>

        {% if user.is_authenticated %}

            <!-- COMMENTS VIEW -->
            <div id="comments-view" class="row tab-pane">
                <div class="col-md-12">
{#                    {% render_comment_form for country %}#}
                    {% include "comments/custom_lists.html" with object=country %}
                </div>
            </div>

        {% endif %}

    </div>

{% endblock %}
