{% load i18n bootstrap %}


<div class="modal-header">
    <button name="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="languageModalLabel">Edit {{ form.instance.name }}</h4>
</div>

{% if success %}

    <div class="modal-body">
        <p class="success">Approved!</p>
    </div>
    <div class="modal-footer">
        <button name="cancel" type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
    </div>

{% else %}

    <form id="language-edit-form" action="{% url 'language_edit_modal' form.instance.pk %}" method="POST" class="form" role="form">
        <div class="modal-body">
            {% csrf_token %}
            {{ form|bootstrap }}
        </div>
        <div class="modal-footer">
            <a name="cancel" class="btn btn-default pull-left" data-dismiss="modal">Cancel</a>
            <button type="submit" class="btn btn-primary pull-right">{% if form.errors %}Try again{% else %}Save{% endif %}</button>
        </div>
    </form>

{% endif %}

<script>

    $().ready(function() {
        // Initial scripts
        //
        $('.language-selector').languageSelector();
        var form_options = {
            target: '.modal-content',
            resetForm: true,
            clearForm: true,
            success: function() {
                if ($('.form-group.has-error').length === 1) {
                    console.log('has error', $('.form-group.has-error'));
                } else {
                    console.log('no error', $('.form-group.has-error'));
                    console.log('success');
                    setTimeout(function() {
                        $('.modal').modal('hide');
                        window.location.reload(false);
                    }, 1500);
                }
            }
        };
        $('#language-edit-form').ajaxForm(form_options);


        // EVENT LISTENERS
        // ===============
        // Hide modal when clicking the X mark or Cancel button
        ['button[name="cancel"]', 'button[name="close"]'].forEach(function(el) {
            $(el).on('click', function() {
                $('.modal').modal('hide');
            });
        });
    });

</script>