{% extends "site_base.html" %}
{% load render_dict %}

{% load humanize %}


{% block body %}

    {% include "resources/_breadcrumbs.html" with region=country.region %}

<h1>
    {{ language.name }}
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-xs" href="{% url "language_edit" language.pk %}">Edit</a>
    {% endif %}
</h1>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr><th>Code</th><td>{{ language.code }}</td></tr>
                <tr><th>ISO 639-3</th><td>{{ language.iso_639_3 }}</td></tr>
                <tr><th>Direction</th><td><span class="label label-default">{{ language.get_direction_display }}</span></td></tr>
                <tr><th>Gateway Language</th><td>{{ language.gateway_language }}</td></tr>
                <tr><th># of Native Speakers</th><td>{{ language.native_speakers|default:""|intcomma }}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        {% include "resources/_project_detail.html" with data=charter %}
    </div>
</div>

{% if user.is_authenticated and charter%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-primary btn-xs pull-right" href="{% url "tracking:event_add_specific" charter.pk %}"><i class="fa fa-plus"></i> Add</a>
            <h1 class="panel-title">Translation Events/Workshops</h1>
        </div>
        <table class="table table-bordered" data-source="{% url "tracking:ajax_charter_events" charter.pk %}">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Lead Department</th>
                    <th>Contact Person</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-xs pull-right" href="{% url "resource_create" language.pk %}"><i class="fa fa-plus"></i> Add</a>
        {% endif %}
        <h2 class="panel-title">Resources</h2>
    </div>
    <table class="table table-bordered">
        <thead><tr><th></th><th>Title</th><th>Media</th><th>Published</th><th>Published Date</th><th>Copyright</th><th>Info</th></tr></thead>
        <tbody>
            {% for resource in language.resources.all %}
                <tr>
                    <td>
                        {% if user.is_authenticated %}
                        <a class="btn btn-default btn-xs" href="{% url "resource_edit" resource.pk %}"><i class="fa fa-pencil"></i> Edit</a>
                        {% endif %}
                    </td>
                    <td>{{ resource.title }}</td>
                    <td>{% for media in resource.medias.all %}<span class="label label-default">{{ media }}</span><br/>{% endfor %}</td>
                    <td>{% if resource.published_flag %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-remove"></i>{% endif %}</td>
                    <td>{{ resource.published_date|date:"Y-m" }}</td>
                    <td>{{ resource.copyright_year|default:"" }}</td>
                    <td>{{ resource.extra_data|dict_to_dl }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% if language.gateway_to.count %}
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title">Gateway To:</h1></div>
        <table class="table table-bordered" data-source="{% url "ajax_ds_uw_languages_gateway" language.pk %}">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>ISO-639-3</th>
                    <th>Name</th>
                    <th>Direction</th>
                    <th>Country</th>
                    <th># Native Speakers</th>
                    <th>Gateway Flag</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock %}
