{% extends "site_base.html" %}

{% load humanize %}


{% block head_title %}Languages{% endblock %}


{% block body %}
    <h2>Languages</h2>
    <hr>
    <table id="language-list-table" class="table table-bordered"
           data-source="{% if query %}{% url "ajax_ds_uw_languages" q=query %}{% else %}{% url "ajax_ds_uw_languages" %}{% endif %}"
           width="100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>ISO-639-3</th>
                <th>Name</th>
                <th>Alternate Name</th>
                <th>Anglicized Name</th>
                <th>Country</th>
                <th>Gateway Language</th>
                <th>GW</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <p>If you don't see a language you expect to see it probably isn't in our database. You can request its creation <a href="{% url "templanguage_create" %}">here</a></p>
{% endblock %}
