{% extends "site_base.html" %}

{% load humanize %}

{% block body %}
    {% include "resources/_breadcrumbs.html" %}

    <h1>{{ region.name }}</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Countries</h2>
        </div>
        {% include "resources/_country_list.html" %}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Languages</h2>
        </div>
        {% include "resources/_language_list.html" with language_list=languages %}
    </div>
{% endblock %}
