{% extends "site_base.html" %}

{% load humanize bootstrap %}

{% block body %}
    {% include "resources/_breadcrumbs.html" with region=language.country.region country=language.country resource_form=form %}


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% if form.instance.pk %}Edit{% else %}Add{% endif %} Resource</h1>
            </div>
            <div class="panel-body">
                <form class="form" action="." method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="pull-right">
                        <a class="btn btn-default" href="{% url "language_detail" language.pk %}">Cancel</a>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
         </div>
    </div>
</div>
{% endblock %}
