{% extends "site_base.html" %}

{% load comments %}
{% load humanize %}
{% load show_event_count_form %}


{% block head_title %}WA Region Detail{% endblock %}


{% block body_class %}wa-region-detail{% endblock %}


{% block body %}
    {% include "resources/_breadcrumbs.html" %}

    <!-- TITLE -->
    <div class="jumbotron jumbotron-custom center-text">
        <h1 class="language-title">{{ wa_region.name }}</h1>
    </div>

    <!-- VIEW TABS -->
    <ul class="nav nav-tabs view-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" data-target="#general-view">Info</a></li>
        <li role="presentation"><a data-toggle="tab" data-target="#countries-view">Countries</a></li>
        <li role="presentation"><a data-toggle="tab" data-target="#projects-view">Projects</a></li>
        <li role="presentation"><a data-toggle="tab" data-target="#events-view">Events</a></li>
        <li role="presentation"><a data-toggle="tab" data-target="#comments-view">Comments</a></li>
    </ul>

    <!-- TAB CONTENT -->
    <div class="multi-view-container tab-content">

        <!-- GENERAL VIEW -->
        <div id="general-view" class="row tab-pane active">
            <div class="col-md-12">
                <table class="table table-borderless">
                    <tbody>
                        <tr><th class="col-md-2">Slug</th><td>{{ wa_region.slug|lower }}</td><tr>
                        <tr><th>Hashtag</th><td>{{ wa_region.hasthag|default:"-" }}</td></tr>
                        <tr><th>GL Director(s)</th><td>{{ gl_directors|join:", "|default:"-" }}</td></tr>
                        <tr><th>GL Helper(s)</th><td>{{ gl_helpers|join:", "|default:"-" }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- COUNTRIES VIEW -->
        <div id="countries-view" class="row tab-pane">
            <div class="col-md-12">
                <table class="table table-borderless" data-source="{% url 'ajax_wa_region_country_list' wa_region.slug|lower %}">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Alpha 3 Code</th>
                            <th>Name</th>
                            <th>Region</th>
                            <th>WA Region</th>
                            <th>Population</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- PROJECTS VIEW -->
        <div id="projects-view" class="row tab-pane">
            <div class="col-md-12">
                <table class="table table-borderless" data-source="{% url 'tracking:ajax_wa_region_charter_list' wa_region.slug|lower %}">
                    <thead>
                    <tr>
                        <th>Language</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Contact Person</th>
                        <th>WA Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- EVENTS VIEW -->
        <div id="events-view" class="row tab-pane">
            <div class="col-md-12">

                <!-- EVENT LIST -->
                <div class="event-list-table-container">
                    <table class="table table-borderless" data-source="{% url 'tracking:ajax_event_list' wa_region=wa_region.slug|lower %}">
                        <thead>
                        <tr>
                            <th>Native</th>
                            <th>Anglicized</th>
                            <th>Number</th>
                            <th>Location</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- EVENT COUNT -->
                <h2>Event Count</h2>
                {% show_event_count_form container=".event-count-table-container" %}
                <hr />
                <div class="">
                    {% include "_loading.html" %}
                    <div class="event-count-table-container tab-pane active" data-url="{% url "tracking:ajax_event_count" %}" data-mode="region" data-option="{{ wa_region.slug }}" data-financial-year="0">
                        <!-- load table here -->
                    </div>
                </div>

            </div>
        </div>

        <!-- COMMENTS VIEW -->
        <div id="comments-view" class="row tab-pane">
            <div class="col-md-12">
                {% render_comment_form for wa_region%}
                {% include "comments/custom_lists.html" with object=wa_region %}
            </div>
        </div>


    </div>

{% endblock %}
