{% extends "site_base.html" %}

{% load humanize %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url "region_list" %}">Regions</a></li>
  <li><a href="{% url "region_detail" country.region.slug|lower %}">{{ country.region.name }}</a></li>
  <li><a href="{% url "country_detail" language.country.pk %}">{{ language.country.name }}</a></li>
  <li class="active">{{ language.living_language.name }}</li>
</ol>

<h1>
    {{ language.living_language.name }}
    <a class="btn btn-primary btn-xs" href="{% url "language_edit" language.pk %}">Edit</a>
</h1>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr><th>Language</th><td>{{ language.name }}</td></tr>
                <tr><th>Gateway Language</th><td>{{ language.gateway_language }}</td></tr>
                <tr><th># of Native Speakers</th><td>{{ language.native_speakers|default:""|intcomma }}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        {% include "uw/_short_list.html" with title="Networks Translating" data=language.networks_translating.all %}
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <a class="btn btn-primary btn-xs pull-right" href="{% url "resource_create" language.pk %}"><i class="fa fa-plus"></i> Add</a>
        <h2 class="panel-title">Resources</h2>
    </div>
    <table class="table table-bordered">
        <thead><tr><th></th><th>Title</th><th>Media</th><th>Published</th></tr></thead>
        <tbody>
            {% for resource in language.resources.all %}
                <tr>
                    <td>
                        <a class="btn btn-default btn-xs" href="{% url "resource_edit" resource.pk %}"><i class="fa fa-pencil"></i> Edit</a>
                    </td>
                    <td>{{ resource.title }}</td>
                    <td>{{ resource.media }}</td>
                    <td>{{ resource.published_flag }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
