{% extends "site_base.html" %}

{% load humanize bootstrap %}

{% block body %}
    {% include "uw/_breadcrumbs.html" with language_form=form region=country.region %}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% if form.instance.pk %}Edit {{ form.instance.name }}{% else %}Add Language{% endif %}</h1>
            </div>
            <div class="panel-body">
                <form class="form" action="." method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="pull-right">
                        <a class="btn btn-default" href="{% url "country_detail" country.pk %}">Cancel</a>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
