{% extends "site_base.html" %}

{% load humanize %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if user.is_authenticated %}
            <a class="btn btn-primary pull-right btn-xs" href="{% url "publisher_create" %}">
                <i class="fa fa-plus"></i>
                Add
            </a>
            {% endif %}
            <h1 class="panel-title">Publishers</h1>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> </th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                {% for publisher in publisher_list %}
                    <tr>
                        <td>{% if user.is_authenticated %}<a class="btn btn-default btn-xs" href="{% url "publisher_edit" publisher.pk %}"><i class="fa fa-pencil"></i> Edit</a>{% endif %}</td>
                        <td><a href="{% url "publisher_detail" publisher.pk %}">{{ publisher.name }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
