{% extends "site_base.html" %}

{% load humanize bootstrap %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url "region_list" %}">Regions</a></li>
  <li><a href="{% url "region_detail" language.country.region.slug|lower %}">{{ language.country.region.name }}</a></li>
  <li><a href="{% url "country_detail" language.country.pk %}">{{ language.country.name }}</a></li>
  <li><a href="{% url "language_detail" language.pk %}">{{ language.name }}</a></li>
  <li class="active">{% if form.instance.pk %}Edit{% else %}Add{% endif %} Resource</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% if form.instance.pk %}Edit{% else %}Add{% endif %} Resource</h1>
            </div>
            <div class="panel-body">
                <form class="form" action="." method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="pull-right">
                        <a class="btn btn-default" href="{% url "language_detail" language.pk %}">Cancel</a>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
         </div>
    </div>
</div>
{% endblock %}
