{% extends "site_base.html" %}

{% load staticfiles %}
{% load humanize bootstrap %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url "title_list" %}">Titles</a></li>
  {% if title %}<li><a href="{% url "title_detail" title.slug %}">{{ title.name }}</a></li> {% endif %}
  <li class="active">{% if form.instance.pk %}Edit {{ title.name }}{% else %}Add Title{% endif %}</li>
</ol>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% if form.instance.pk %}Edit {{ title.name }}{% else %}Add Title{% endif %}</h1>
            </div>
            <div class="panel-body">
                <form class="form" action="." method="POST">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="pull-right">
                        {% if form.instance.pk %}
                            {% url "title_detail" form.instance.pk as cancel_url %}
                        {% else %}
                            {% url "title_list" as cancel_url %}
                        {% endif %}
                        <a class="btn btn-default" href="{{ cancel_url }}">Cancel</a>
                        <button class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_bottom_script %}
    <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
    <script type="text/javascript">
document.getElementById("id_name").onkeyup = function() {
    var e = document.getElementById("id_slug");
    if (!e._changed) {
        e.value = URLify(document.getElementById("id_name").value, 50);
    }
}
</script>
{% endblock %}