{% extends "theme_bootstrap/base.html" %}

{% load pinax_invitations_tags %}
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load user_group %}


{% block styles %}
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>
    {% include "_styles.html" %}
    {% block extra_style %}{% endblock %}
    <style>
        .tt-query,
        .tt-hint {
            width: 396px;
            height: 30px;
            padding: 8px 12px;
            font-size: 24px;
            line-height: 30px;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;
        }

        .tt-query {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #999;
        }

        .tt-dropdown-menu {
            width: 550px;
            margin-top: 12px;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            font-size: 18px;
            line-height: 24px;
        }

        .tt-suggestion.tt-cursor {
            color: #fff;
            background-color: #0097cf;

        }

        .tt-suggestion p {
            margin: 0;
        }
        .tt-highlight {
          color: #99E;
        }
        .tt-suggestion code {
          padding: 2px 4px;
          font-size: 80%;
          color: #c7254e;
          background-color: #f9f2f4;
          white-space: nowrap;
          border-radius: 4px;
          font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        }
        #remote .empty-message {
          padding: 5px 10px;
          text-align: center;
        }
        input {
          padding: 10px;
          width: 600px;
          font-size: 24px;
          border: 1px solid #AAA;
        }
        #remote {
          width: 600px;
          margin-top: 100px;
          margin-right: auto;
          margin-left: auto;
        }
        li.exclusive {
            background-color: #D9EDF7;
        }
        </style>
{% endblock %}


{% block extra_head_base %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li class="dropdown data-sources">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-database"></i>
                Data Sources
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header"><i class="fa fa-pencil"></i> Created</li>
                <li><a href="{% url "ds_additional_languages" %}">Additional Languages</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><i class="fa fa-database"></i> Imports</li>
                <li><a href="{% url "ds_ethnologue_country_codes" %}">Country Codes <em>Ethnologue</em></a></li>
                <li><a href="{% url "ds_ethnologue_language_codes" %}">Language Codes <em>Ethnologue</em></a></li>
                <li><a href="{% url "ds_ethnologue_language_index" %}">Language Index <em>Ethnologue</em></a></li>
                <li><a href="{% url "ds_sil" %}">ISO 639-3 Code Set <em>SIL</em></a></li>
                <li><a href="{% url "ds_wikipedia" %}">List of ISO 639-1 Codes <em>Wikipedia</em></a></li>
                <li><a href="{% url "ds_imb_peoplegroups" %}">People Groups <em>IMB</em></a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><i class="fa fa-database"></i> Exports</li>
                <li><a href="{% url "codes_text_export" %}">Language Codes<em>codes-d43.txt</em></a></li>
                <li><a href="{% url "names_text_export" %}">Language Names<em>langnames.txt</em></a></li>
                <li><a href="{% url "names_json_export" %}">Language Names JSON<em>langnames.json</em></a></li>
            </ul>
        </li>

        <li class="dropdown uw">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-sign-in"></i>
                uW
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url "language_list" %}">Languages</a></li>
                <li><a href="{% url "region_list" %}">Regions</a></li>
                {% if user.is_authenticated %}
                    <li class="exclusive"><a href="{% url "wa_region_list" %}">WA Regions</a></li>
                {% endif %}
                <li><a href="{% url "country_list" %}">Countries</a></li>
                <li><a href="{% url "title_list" %}">Titles</a></li>
                <li><a href="{% url "publisher_list" %}">Publishers</a></li>
                {% if user.is_authenticated %}
                    <li class="exclusive"><a href="{% url "tracking:project_list" %}">Translation Projects</a></li>
                    <li class="exclusive"><a href="{% url "gl:partner_list_view" %}">Partners</a></li>
                {% endif %}
                <li><a href="{% url "network_list" %}">Networks</a></li>
                {% if user.is_authenticated %}
                    <li class="divider"></li>
                    <li class="exclusive"><a href="{% url "gl:home" %}">GL Tracker</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url "gateway_flag_update" %}">Update Gateway Languages</a></li>
                    <li><a href="{% url "rtl_languages_update" %}">Update RTL Languages (Scripts)</a></li>
                {% endif %}
            </ul>
        </li>

        {% if not user.is_authenticated or user|has_group:"Publishing" %}
        <li class="dropdown publishing">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-book"></i>
                Publishing
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% if user.is_authenticated %}
                <li><a href="{% url "publishing_home" %}">Publishing Home</a></li>
                {% else %}
                <li><a href="{% url "publish_request" %}">Publish Request</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
    </ul>
    {% invite_form request.user %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
    {% block custom_bottom_script %}
    {% endblock custom_bottom_script %}
{% endblock %}
