{% extends "theme_bootstrap/base.html" %}

{% load kaleo_tags %}
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block style_base %}
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="{% static "select2-3.5.2/select2.css" %}">
    <link rel="stylesheet" href="{% static "select2-3.5.2/select2-bootstrap.css" %}">
    {% block extra_style %}{% endblock %}
    <style>
        .tt-query,
        .tt-hint {
            width: 396px;
            height: 30px;
            padding: 8px 12px;
            font-size: 24px;
            line-height: 30px;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;
        }

        .tt-query {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #999;
        }

        .tt-dropdown-menu {
            width: 550px;
            margin-top: 12px;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            font-size: 18px;
            line-height: 24px;
        }

        .tt-suggestion.tt-cursor {
            color: #fff;
            background-color: #0097cf;

        }

        .tt-suggestion p {
            margin: 0;
        }
        .tt-highlight {
          color: #99E;
        }
        .tt-suggestion code {
          padding: 2px 4px;
          font-size: 80%;
          color: #c7254e;
          background-color: #f9f2f4;
          white-space: nowrap;
          border-radius: 4px;
          font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        }
        #remote .empty-message {
          padding: 5px 10px;
          text-align: center;
        }
        input {
          padding: 10px;
          width: 600px;
          font-size: 24px;
          border: 1px solid #AAA;
        }
        #remote {
          width: 600px;
          margin-top: 100px;
          margin-right: auto;
          margin-left: auto;
        }
        </style>
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li class="dropdown data-sources">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-database"></i>
                Data Sources
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header"><i class="fa fa-pencil"></i> Created</li>
                <li><a href="{% url "ds_additional_languages" %}">Additional Languages</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><i class="fa fa-database"></i> Imports</li>
                <li><a href="{% url "ds_ethnologue_country_codes" %}">Country Codes <em>Ethnologue</em></a></li>
                <li><a href="{% url "ds_ethnologue_language_codes" %}">Language Codes <em>Ethnologue</em></a></li>
                <li><a href="{% url "ds_ethnologue_language_index" %}">Language Index <em>Ethnologue</em></a></li>
                <li><a href="{% url "ds_sil" %}">ISO 639-3 Code Set <em>SIL</em></a></li>
                <li><a href="{% url "ds_wikipedia" %}">List of ISO 639-1 Codes <em>Wikipedia</em></a></li>
                <li><a href="{% url "ds_imb_peoplegroups" %}">People Groups <em>IMB</em></a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><i class="fa fa-database"></i> Exports</li>
                <li><a href="{% url "codes_text_export" %}">Language Codes<em>codes-d43.txt</em></a></li>
                <li><a href="{% url "names_text_export" %}">Language Names<em>langnames.txt</em></a></li>
                <li><a href="{% url "names_json_export" %}">Language Names JSON<em>langnames.json</em></a></li>
            </ul>
        </li>
        {% if request.user.is_authenticated %}
        <li class="dropdown exports">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-sign-in"></i>
                uW
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url "language_list" %}">Languages</a></li>
                <li><a href="{% url "region_list" %}">Regions</a></li>
                <li><a href="{% url "country_list" %}">Countries</a></li>
                <li><a href="{% url "network_list" %}">Networks</a></li>
                <li class="divider"></li>
                <li><a href="{% url "gateway_flag_upload" %}">Upload Gateway Language List</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
    {% invite_form request.user %}
{% endblock %}


{% block script_base %}
    <script src="{% block jquery_src %}{% static "jquery/js/jquery-2.1.1.min.js" %}{% endblock %}"></script>
    <script src="//cdn.datatables.net/1.10.3/js/jquery.dataTables.js"></script>
    <script src="//cdn.datatables.net/plug-ins/380cb78f450/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{% static "select2-3.5.2/select2.min.js" %}"></script>
    <script src="{% static "js/eldarion-ajax.min.js" %}"></script>
    <script src="{% static "daterangepicker/moment.js" %}"></script>
    <script src="{% static "daterangepicker/daterangepicker.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script src="{% static "td/js/app.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
