{% extends "site_base.html" %}

{% load humanize %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url "country_list" %}">Countries</a></li>
  <li class="active">{{ country.country.name }}</li>
</ol>

<a class="btn btn-primary pull-right" href="{% url "country_edit" country.pk %}">Edit</a>
<h1>{{ country.country.name }}</h1>

<div class="row">
    <div class="col-md-4">
        <table class="table">
            <thead><tr><th>Population</th></tr></thead>
            <tbody><tr><td>{{ country.population|default:""|intcomma }}</td></tr></tbody>
        </table>
    </div>
    <div class="col-md-4">
        {% include "wycliffe/_short_list.html" with title="Top Networks" data=country.primary_networks.all %}
    </div>
</div>


<a class="btn btn-primary pull-right" href="{% url "language_create" country.pk %}">Add</a>
{% include "wycliffe/_language_list.html" with language_list=country.language_set.all %}

{% endblock %}
