{% extends "site_base.html" %}

{% load humanize %}

{% block body %}
<ol class="breadcrumb">
  <li><a href="{% url "network_list" %}">Networks</a></li>
  <li class="active">{{ network.name }}</li>
</ol>

<h1>
    {{ network.name }}
    <a class="btn btn-primary btn-xs" href="{% url "network_edit" network.pk %}"><i class="fa fa-pencil"></i> Edit</a>
</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Languages</h2>
    </div>
    {% include "wycliffe/_language_list.html" with language_list=network.language_set.all %}
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Countries</h2>
    </div>
    {% include "wycliffe/_country_list.html" with country_list=network.country_set.all %}
</div>
{% endblock %}
