<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                {% if region|lower in can_edit %}<th></th>{% endif %}
                <th>Item</th>
                <th>Online</th>
                <th>Method</th>
                <th>Compl.<br />Rate</th>
                <th>Compl.<br />Date</th>
                <th>QA Level</th>
                <th>Door43</th>
                <th>UW.org</th>
                <th>Partners</th>
                <th>Note</th>
            </tr>
        </thead>

        <tbody>
            {% for doc in documents %}
                <tr>
                    {% if region|lower in can_edit %}
                        <td>
                            <a class="edit-icon" href="{% url 'gl:change_progress' doc.pk %}" data-toggle="modal" data-target="#modal" title="Edit {{doc.type}}" data-tooltip>
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        {% if doc.is_done %}<strong>{{doc.type}}</strong>{% else %}{{doc.type}}{% endif %}
                    </td>
                    <td>
                        {% if doc.is_online %}<i class="fa fa-globe"></i>{% else %}-{% endif %}
                    </td>
                    <td>
                        {{ doc.method | default:"-" }}
                    </td>
                    <td>
                        {{ doc.completion_rate | default_if_none:"-" }}
                    </td>
                    <td>
                        {{ doc.completion_date | default_if_none:"-" }}
                    </td>
                    <td>
                        {{ doc.qa_level | default_if_none:"-" }}
                    </td>
                    <td>
                        {% if doc.in_door43 %}<i class="fa fa-link"></i>{% else %}-{% endif %}
                    </td>
                    <td>
                        {% if doc.in_uw %}<i class="fa fa-check"></i>{% else %}-{% endif %}
                    </td>
                    <td>
                        {{ doc.partners.all | join:", " | default:"-" }}
                    </td>
                    <td>
                        {% if doc.notes %}<i class="fa fa-sticky-note icon-link notes-toggle" data-toggle="popover" data-content="{{doc.notes}}" data-placement="left" tabindex="0"></i>{% else %}-{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>