<!-- PROGRESS BARS -->
<div class="main-container">

    <!-- LABELS -->
    <div class="labels-container">
        <p class="overall" data-region="overall">Overall</p>
        {% for key, region in regions.items %}
            <p id="{{ region.name|lower }}-label" data-region="{{ region.name|lower }}">{{ region.name }}</p>
        {% endfor %}
    </div>

    <!-- BARS AND PERCENTAGES -->
    <div class="progress-bars-container">
        <div class="progress-bar-wrapper">
            <div id="overall-progress" class="progress overall" data-region="overall">
                <div class="progress-bar overall-progress" role="progressbar" aria-valuenow="{{ overall_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ overall_progress }}%;"></div>
            </div>
            <span class="progress-percentage overall" data-region="{{ key|lower }}">{{overall_progress}}%</span>
        </div>
        {% for key, region in regions.items %}
            <div class="progress-bar-wrapper">
                <div id="{{ key|lower }}-progress" class="progress" data-region="{{ key|lower }}">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ region.regional_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ region.regional_progress }}%;"></div>
                </div>
                <span class="progress-percentage" data-region="{{ key|lower }}">{{ region.regional_progress }}%</span>
            </div>
        {% endfor %}
    </div>

</div>

<!-- REGION DETAIL -->
<div class="main-container">

    <div id="region-detail" class="panel panel-default full-width">
        <div id="region-detail-header" class="panel-heading">
            <h1 class="panel-title">Region detail</h1>
        </div>
        <div id="region-detail-content" class="panel-body">
            <span class="placeholder-text">Click on a region to view its detail and languages</span>
        </div>
    </div>

</div>

<!-- ACTION BUTTON LINKS -->
<div class="languages-buttons btn-group-sm hidden">
    <button class="expand-all btn btn-sm btn-link">Expand All</button>
    <button class="collapse-all btn btn-sm btn-link">Collapse All</button>
</div>

<!-- LANGUAGE LIST -->
<div class="main-container language-list">

    {% for key, region in regions.items %}
        <div id="{{ key|lower }}-languages" class="hidden">
        {% for language in region.gateway_languages %}
            <div class="panel panel-default">

                <!-- PANEL/TABLE HEADING -->
                <div class="panel-heading collapsed" >
                    <span class="pull-right">
                        {% if phase == "1" %}
                            {{ language.progress_phase_1 }}%
                        {% elif phase == "2" %}
                            {{ language.progress_phase_2 }}%
                        {% endif %}
                    </span>
                    <div style="display: flex;">
                        <h1 class="panel-title">
                            <button class="icon-button" data-toggle="collapse" data-target="#{{ language.code }}" title="Expand/Collapse" data-tooltip><i class="fa fa-compress"></i></button>
                            <a href="{% url "language_detail" language.pk %}">{{ language.ang|default:language.ln }}</a> <span class="badge">{{ language.code }}</span>
                            {% for variant in language.variant_codes %}
                                <span class="badge">{{ variant }}</span>
                            {% endfor %}
                        </h1>
                        {% if language.variant_codes|length > 0 %}
                                <button class="icon-button btn-variant-split" href="{% url 'gl:ajax_modal_variant_split' language.code %}" data-language="{{ language.code }}" data-toggle="modal" data-target="#modal-sm" title="Split Variant" data-tooltip><i class="fa fa-code-fork"></i></button>
                            </span>
                        {% endif %}
                    </div>
                </div>

                <!-- PANEL/TABLE BODY -->
                <div id="{{ language.code }}" class="panel-body language-panel-body collapse">
                    {% if phase == "1" %}
                        {% include "gl_tracking/_language_doc_table.html" with region=language.lr documents=language.documents_phase_1 can_edit=can_edit %}
                    {% elif phase == "2" %}
                        {% include "gl_tracking/_language_doc_table.html" with region=language.lr documents=language.documents_phase_2 can_edit=can_edit %}
                    {% endif %}
                </div>

            </div>
        {% endfor %}
        </div>
    {% endfor %}

</div>