{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}

{% block head_title %}GL Tracking{% endblock head_title %}

{% block body_class %}{% endblock body_class %}

{% block extra_style %}
<style>
    .placeholder-text {
        color: #AAA;
    }
    .panel-body {
        position: relative;
    }
    #phase-tabs li {
        cursor: pointer;
    }
    .language-list .panel-heading:hover {
        background-color: #F5F5FF;
    }
    .btn-variant-split {
        line-height: 0;
        padding: 0 0.5rem;
        margin-left: 0.65rem;
    }
</style>
{% endblock extra_style %}

{% block body_base %}

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- Modal end -->

<section class="jumbotron">
    <div class="container">
        {% include "_messages.html" %}
        <h1>{% blocktrans %}GL Tracking{% endblocktrans %}</h1>
        {% if user.is_authenticated %}
            {% url "gl:home" as custom_url %}
            {% blocktrans %}
                <a href="{{ custom_url }}" class="btn btn-primary large disabled">Add progress</a>
            {% endblocktrans %}
        {% endif %}
    </div>
</section>

<section id="content_body">
    <div class="container">

        <div id="progress-overview" style="margin-bottom: 30px;">
            <ul id="phase-tabs" class="nav nav-tabs">
                <li role="presentation" class="active clickable" data-phase="1"><a>Phase I</a></li>
                <li role="presentation" class="clickable" data-phase="2"><a>Phase II</a></li>
            </ul>
            <div id="phase_overview" style="position: relative; min-height: 3rem;">
                {# phase_progress.html will be loaded here #}
            </div>
        </div>

    </div>
</section>

{% endblock body_base %}

{% block custom_bottom_script %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
    
    $(function() {
        // INITIAL SCRIPT
        // ==============
        loadPhase('1');


        // EVENT LISTENERS
        // ===============
        // Switching tabs and loading data when clicking on tabs
        $('#phase-tabs > li').on('click', function(e) {
            if (switchTab(e)) {
                loadPhase(this.dataset.phase);
            }
        });
        // Loading region detail and languages when clicking on the region progress
        ['.labels-container p:not(.overall)', '.progress-bar-wrapper .progress:not(.overall)', '.progress-percentage:not(.overall)']
        .forEach(function(selector) {
            $('#phase_overview').on('click', selector, loadRegion);
        });
        $('#phase_overview').on('click', '.expand-all', function() {
            $('.language-list .panel-body.language-panel-body').collapse('show');
        });
        $('#phase_overview').on('click', '.collapse-all', function() {
            $('.language-list .panel-body.language-panel-body').collapse('hide');
        });
        $('#phase_overview').on('click', '.overall', resetDisplay);
        $('#phase_overview').on('click', '.btn-variant-split', splitVariant);


        // CUSTOM FUNCTIONS
        // ================
        //
        function switchTab(e) {
            if (e.currentTarget.className.indexOf('active') !== -1) {return false;}
            $('#phase-tabs > li').removeClass('active');
            $(e.currentTarget).addClass('active');
            return true;
        }

        //
        function loadPhase(phase) {
            $('#phase_overview')
                .load('ajax/phase_progress/', {'phase': phase}, function(response, status, xhr) {
                    if (status === 'error') displayError(this);
                })
                .append(getLoadingDiv());
        }

        //
        function getLoadingDiv() {
            var div = $(document.createElement('div'));
            div.html('Loading...');
            div.addClass('loading-div');
            div.css('position', 'absolute');
            div.css('width', '100%');
            div.css('height', '100%');
            div.css('color', 'red');
            div.css('background-color', 'rgba(255,255,255,0.75)');
            div.css('top', '0');
            div.css('left', '0');
            div.css('right', '0');
            div.css('bottom', '0');
            div.css('text-align', 'center');
            return div;
        }

        //
        function displayError(el) {
            $(el).children().remove();
            $(el).append('<span style="color: red;">Error in gettting the data</span>');
        }

        //
        function loadRegion() {
            var region = this.dataset.region;
            $('#region-detail-header h1').html(region.charAt(0).toUpperCase() + region.slice(1));
            $('#region-detail-content')
                .load('ajax/region_detail/' + region + '/', function(response, status, xhr) {
                    if (status === 'error') displayError(this);
                })
                .append(getLoadingDiv());
            // Only show languages for the selected region
            $('div[id$=-languages]').addClass('hidden');
            $('#' + region + '-languages').removeClass('hidden');
            // 
            $('.languages-buttons').removeClass('hidden');
            // 
            $('.progress-bar').removeClass('active');
            $('#' + region + '-progress .progress-bar').addClass('active');
        }

        // 
        function resetDisplay() {
            $('#region-detail-header h1').html('Region Detail');
            $('#region-detail-content').html('<span class="placeholder-text">Click on a region to view its detail and languages</span>');
            $('.languages-buttons').addClass('hidden');
            $('div[id$=-languages]').addClass('hidden');
            $('.progress-bar').removeClass('active');
        }

        //
        function splitVariant(e) {
            e.stopPropagation();
            console.log('SPLIT VARIANT:', this.dataset.language);
        }
    });

</script>
{% endblock custom_bottom_script %}