{% extends "site_base.html" %}


{% load i18n %}
{% load humanize %}
{% load custom_filters %}


{% block head_title %}GL Tracking{% endblock head_title %}


{% block body_class %}{% endblock body_class %}


{% block extra_style %}
    <style>
        .panel-body {
            position: relative;
        }
        .language-list .panel-heading:hover {
            background-color: #F5F5FF;
        }
        .btn-variant-split {
            line-height: 0;
            padding: 0 0.5rem;
            margin-left: 0.65rem;
        }
        .main-container {
            display: flex;
            margin-top: 2rem;
            width: 100%;
        }
        .main-container.language-list {
            flex-direction: column;
        }
        .progress-overview {
            margin-bottom: 30px;
        }
        .labels-container {
            margin-right: 1rem;
        }
        .labels-container p,
        .progress-bar-wrapper .progress,
        .progress-percentage {
            margin-bottom: 1rem;
            cursor: pointer;
        }
        .overall,
        p.overall {
            margin-bottom: 3rem;
        }
        .progress-bars-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .progress-bar-wrapper {
            display: flex;
        }
        .progress {
            flex: 1;
        }
        .progress-bar {
            background-color: #999;
            min-width: 0.2em;
        }
        .progress-bar-wrapper:hover .progress-bar,
        .overall-progress,
        .progress-bar.active {
            background-color: #337AB7;
        }
        .progress-percentage {
            flex: 0 0 4.5rem;
            text-align: right;
            margin-left: 1rem;
        }
        .phase-view {
            position: relative;
            min-height: 3rem;
        }
        .language-panel-body {
            padding: 0;
        }
        .btn-link {
            display: inline;
        }
        .icon-button {
            margin-right: 0.5rem;
            line-height: 0;
        }
        th {
            font-weight: normal;
            color: #AAA;
        }
        table.table {
            margin-bottom: 0;
        }
        .table > thead > tr > th {
            vertical-align: middle;
        }
        .icon-link {
            cursor: pointer;
            color: #337AB7;
        }
        ul {
            padding-left: 2rem;
        }
        input[type="checkbox"] {
            width: auto;
            margin: 0 1rem;
        }
        .multiple-checkbox ul {
            list-style: none;
            padding-left: 0;
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
        .multiple-checkbox ul > li > label {
            font-weight: lighter;
        }
        .table-no-border tbody > tr > th,
        .table-no-border tbody > tr > td,
        .table-no-border thead > tr > th {
            border: none;
        }
        .border-bottom {
            border-bottom: 1px solid #DDD;
        }
        tbody > tr > td.align-mid {
            vertical-align: middle;
        }
        .select2-search-choice-close {
            top: 3px;
        }
        .select2-container-multi .select2-choices {
            background-image: none;
        }
    </style>
{% endblock extra_style %}


{% block body_base %}

    <!-- MODAL (SMALL)-->
    <div class="modal fade" id="modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalSmall" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>


    <!-- MODAL (MEDIUM)-->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalMedium" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>


    <!-- MODAL (LARGE) -->
    <div class="modal fade" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="modalLarge" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>


    <!-- JUMBOTRON -->
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}GL Tracking{% endblocktrans %}</h1>
            {% if user.is_authenticated and user|is_super_gl_director %}
            <a class="btn btn-primary large" href="{% url "gl:region_assignment" %}" data-toggle="modal" data-target="#modal-lg" title="Assign GL Director to Region" data-tooltip>Region Assignment</a>
            {% endif %}
        </div>
    </section>

    <!-- BODY/CONTENT -->
    <section id="content_body">
        <div class="container">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Direct questions and comments to <a href="mailto:help@door43.org" class="alert-link">help@door43.org</a>
            </div>
            <div id="progress-overview">
                <ul id="phase-tabs" class="nav nav-tabs">
                    {% for phase in phases %}
                        <li role="presentation" class="clickable {% if forloop.first %}active{% endif %}" data-phase="{{ phase.number }}">
                            <a>{% if phase.name %}{{ phase.name }}{% else %}Phase {{ phase.number }}{% endif %}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div id="phase-view" class="phase-view">
                    {# phase_progress.html will be loaded here #}
                </div>
            </div>
        </div>
    </section>

{% endblock body_base %}


{% block custom_bottom_script %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        
        $(function() {
            // INITIAL SCRIPT
            // ==============
            loadPhase('1');


            // EVENT LISTENERS
            // ===============
            // Switching tabs and loading data when clicking on tabs
            $('#phase-tabs > li').on('click', function(e) {
                if (switchActiveTab(e)) {
                    loadPhase(this.dataset.phase);
                }
            });

            // Loading region detail and languages when clicking on the region progress
            ['.labels-container p:not(.overall)', '.progress-bar-wrapper .progress:not(.overall)', '.progress-percentage:not(.overall)']
            .forEach(function(selector) {
                $('#phase-view').on('click', selector, loadRegion);
            });

            // Expand/Collapse all language tables when clicking on the corresponding buttons
            $('#phase-view').on('click', '.expand-all', function() {
                $('.language-list .panel-body.language-panel-body').collapse('show');
            });
            $('#phase-view').on('click', '.collapse-all', function() {
                $('.language-list .panel-body.language-panel-body').collapse('hide');
            });

            // Hide all region info when clicking on "Overall" bar
            $('#phase-view').on('click', '.overall', resetDisplay);

            // Manually open modal form when clicking on the variant split button
            $('#phase-view').on('click', '.btn-variant-split', openVariantSplitModal);

            // Auto-focus to the input box when the user opens a modal
            $('#modal').on('shown.bs.modal', function() {
                $('#variant').focus();
            });

            $('body').on('hidden.bs.modal', '.modal', function() {
                $(this).removeData('bs.modal');
            });
            
            // Initialize Bootstrap's popover
            $('#phase-view').popover({
                selector: '[data-toggle="popover"]',
                trigger: 'focus'
            });


            // CUSTOM FUNCTIONS
            // ================
            // Sets the clicked element as active if it wasn't
            function switchActiveTab(e) {
                if (e.currentTarget.className.indexOf('active') !== -1) {return false;}
                $('#phase-tabs > li').removeClass('active');
                $(e.currentTarget).addClass('active');
                return true;
            }

            // Makes an API call to load content into the target element
            function loadPhase(phase) {
                $('#phase-view')
                    .load('ajax/phase_progress/', {'phase': phase}, function(response, status, xhr) {
                        if (status === 'error') displayError(this);
                    })
                    // Insert a loading indicator that will be overriden by the upcoming content
                    //    once that's ready
                    .append(getLoadingDiv());
            }

            // Creates a simple frost overlay loading indicator
            function getLoadingDiv() {
                var div = $(document.createElement('div'));
                div.html('Loading...');
                div.addClass('loading-div');
                div.css('position', 'absolute');
                div.css('width', '100%');
                div.css('height', '100%');
                div.css('color', 'red');
                div.css('background-color', 'rgba(255,255,255,0.75)');
                div.css('top', '0');
                div.css('left', '0');
                div.css('right', '0');
                div.css('bottom', '0');
                div.css('text-align', 'center');
                return div;
            }

            // Inserts an error message to the target element
            function displayError(el) {
                $(el).children().remove();
                $(el).append('<span style="color: red;">Error in gettting the data</span>');
            }

            // Loads and displays appropriate region info and its language tables
            function loadRegion() {
                // Display region name based on built-in attribute
                var region = this.dataset.region.replace(/\ /g, '');
                $('#region-detail-header h1').html(region.charAt(0).toUpperCase() + region.slice(1));
                // Make an API call to load region info into the content container
                $('#region-detail-content')
                    .load('ajax/region_detail/' + region + '/', function(response, status, xhr) {
                        // Display an error message if there's an error instead
                        if (status === 'error') displayError(this);
                    })
                    // Display a loading indicator that will be overriden by the upcoming content
                    //    once it's ready
                    .append(getLoadingDiv());
                // Only show language tables for the selected region
                $('div[id$=-languages]').addClass('hidden');
                $('#' + region + '-languages').removeClass('hidden');
                // Show action buttons for the language tables
                $('.languages-buttons').removeClass('hidden');
                // Set selected region's bar to active
                $('.progress-bar').removeClass('active');
                $('#' + region + '-progress .progress-bar').addClass('active');
            }

            // Restore the view to the initial stage
            function resetDisplay() {
                // Restore placeholders
                $('#region-detail-header h1').html('Region Detail');
                $('#region-detail-content').html('<span class="placeholder-text">Click on a region to view its detail and languages</span>');
                $('.progress-bar').removeClass('active');
                // Hide all language tables and action buttons
                $('div[id$=-languages]').addClass('hidden');
                $('.languages-buttons').addClass('hidden');
            }

            // Manually open bootstrap modal while avoiding event propagation
            function openVariantSplitModal(e) {
                // NOTE: This will stop bootstrap's default way of showing modal via data-toggle attribute.
                // REASON: Without stopping propagation, the event on variant-splut button will bubble up
                //    to the language table header. In other words, clicking the variant-split button will
                //    not only show the modal, but also opens/closes language table body, which is an
                //    undesired behavior.
                e.stopPropagation();
                $('#modal-sm').modal({
                    backdrop: true,
                    keyboard: true,
                    show: true
                });
                $('#modal .modal-content').load(this.attributes.href.value);
            }
        });

    </script>

{% endblock custom_bottom_script %}