<style>
    .main_container {
        display: flex;
        margin-top: 2rem;
    }
    .labels_container {
        margin-right: 1rem;
    }
    .labels_container p,
    .progress_bar_wrapper .progress {
        margin-bottom: 1rem;
    }
    .labels_container p:first-child,
    .progress_bar_wrapper:first-child .progress {
        margin-bottom: 3rem;
    }
    .progress_bars_container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .progress_bar_wrapper {
        display: flex;
    }
    .progress {
        flex: 1;
    }
    .progress-bar {
        background-color: #AAA;
    }
    .progress_bar_wrapper:hover .progress-bar {
        background-color: #337AB7;
    }
    .overall-progress {
        background-color: #337AB7;
    }
    .progress_percentage {
        flex: 0 0 4.5rem;
        text-align: right;
        margin-left: 1rem;
    }
</style>

<div class="main_container">
    
    <div class="labels_container">
        <p>Overall</p>
        {% for region in regions %}
            <p>{{region}}</p>
        {% endfor %}
    </div>

    <div class="progress_bars_container">
        <div class="progress_bar_wrapper">
            <div id="overall_progress" class="progress">
                <div class="progress-bar overall-progress" role="progressbar" aria-valuenow="{{overall_progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 0.2em; width: {{overall_progress}}%;"></div>
            </div>
            <span class="progress_percentage">{{overall_progress}}%</span>
        </div>
        {% for key, region in regions.items %}
            <div class="progress_bar_wrapper">
                <div id="overall_progress" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{region.regional_progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 0.2em; width: {{region.regional_progress}}%;"></div>
                </div>
                <span class="progress_percentage">{{region.regional_progress}}%</span>
            </div>
        {% endfor %}
    </div>

</div>