{% load i18n %}
{% load bootstrap %}

<!-- This HTML will be loaded into div.modal-content -->

<div class="modal-header">
    <button name="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="variantModalLabel">Region Assignment</h4>
</div>

    {% if success %}

        <div class="modal-body">
            <p class="success">Region assignment is successful. This page will reload...</p>
        </div>
        <div class="modal-footer">
            <button name="cancel" type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
        </div>

    {% else %}

        <form id="region-assignment-form" action="{% url 'gl:region_assignment' %}" method="POST" class="form" role="form">
            <div class="modal-body">
                {% csrf_token %}
                <table class="table table-no-border no-margin">
                    <col style="width: 12%;" />
                    <col style="width: 44%;" />
                    <col style="width: 44%;" />
                    <thead>
                        <tr>
                            <th>Region</th>
                            <th>Director</th>
                            <th>Helper</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for region in wa_regions %}
                        <tr class="">
                            <td class="align-mid"><label class="">{{ region.name }}</label></td>
                            <td>
                                <select id="{{ region.slug }}_director" name="{{ region.slug }}_director" class="form-control select2-multiple" multiple="multiple">
                                    {% for director in gl_directors %}
                                        <option value="{{ director.user.username }}" {% if director.user.username in region.gl_directors %}selected="true"{% endif %}>{{ director.user.username }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select id="{{ region.slug }}_helper" name="{{ region.slug }}_helper" class="form-control select2-multiple" multiple="multiple">
                                    {% for helper in gl_helpers %}
                                        <option value="{{ helper.user.username }}" {% if helper.user.username in region.gl_helpers %}selected="true"{% endif %}>{{ helper.user.username }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button name="cancel" type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right">
                    {% if form.errors %}Try again{% else %}Submit{% endif %}
                </button>
            </div>
        </form>

    {% endif %}

<script>
    $(document).ready(function() {
        
        // INITIAL SCRIPTS
        // ===============
        // Transform regular select boxes to select2 boxes
        $('.select2-multiple').select2();


        // EVENT LISTENERS
        // ===============
        // Hide modal when clicking the X mark or Cancel button
        ['button[name="cancel"]', 'button[name="close"]'].forEach(function(el) {
            $(el).on('click', hideAndClear);
        });
        // Submit with a success call back when clicking "Submit" button
        $('#region-assignment-form').ajaxForm({
            target: '.modal-content',
            resetForm: true,
            clearForm: true,
            success: function() {
                setTimeout(function() {
                    $('.modal').modal('hide');
                    window.location.reload(false);
                }, 1500);
            }
        });

        // FUNCTION DEFINITIONS
        // ====================
        function hideAndClear() {
            setTimeout(function() {$('.modal.content').modal('hide');}, 1000);
            $('body').on('hidden.bs.modal', '.modal', function() {
                $(this).removeData('bs.modal');
            });
        }
    });
</script>