{% load i18n %}
{% load bootstrap %}

<!-- This HTML will be loaded into div.modal-content -->

<div class="modal-header">
    <button name="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="variantModalLabel">Split Variant from {{language.ang|default:language.name}}</h4>
</div>

    {% if success %}

        <div class="modal-body">
            <p class="success">Variant <strong>{{variant.code}}</strong> has been split from <strong>{{language.ang|default:language.name}}</strong>. This page will reload...</p>
        </div>
        <div class="modal-footer">
            <button name="cancel" type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
        </div>

    {% else %}

        <form id="variant_split_modal" action="{% url 'gl:ajax_modal_variant_split' language.code %}" method="POST" class="form" role="form">
            <div class="modal-body">
                {% csrf_token %}
                <label for="variant" class="form-group full-width">
                    <span class="control-label">Choose variant to split:</span>
                    <input id="variant" name="variant" class="form-control" list="variants" required>
                    <datalist id="variants">
                        {% for l in language.variants.all %}
                            <option value="{{l.code}}">{{l.ang|default:l.name}} ({{l.code}})</option>
                        {% endfor %}
                    </datalist>
                </label>
            </div>
            <div class="modal-footer">
                <button name="cancel" type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right">
                    {% if form.errors %}Try again{% else %}Split{% endif %}
                </button>
            </div>
        </form>

    {% endif %}

</div>

<script>
    $(document).ready(function() {
        
        // INITIAL SCRIPTS
        // 
        // Using ajaxSubmit instead of ajaxForm because we have custom validation
        $('#variant_split_modal').on('submit', function(e) {
            e.preventDefault();
            // 
            var val = $('#variant').val();
            var sel = $('#variants').find('option[value="' + val + '"]');
            // 
            if (!sel || sel.length === 0) {
                document.querySelector('#variant').setCustomValidity('Variant code is incorrect. Choose one from the list.');
            }
            else {
                $(this).ajaxSubmit({
                    target: '.modal-content',
                    resetForm: true,
                    clearForm: true,
                    success: function() {
                        setTimeout(function() {
                            $('#modal').modal('hide');
                            window.location.reload(false);
                        }, 1333);
                    }
                });
            }
        });

        // EVENT LISTENERS
        // 
        ['button[name="cancel"]', 'button[name="close"]'].forEach(function(el) {
            $(el).on('click', hideAndClear);
        });

        // FUNCTION DEFINITIONS
        // 
        function hideAndClear() {
            setTimeout(function() {jQuery('.modal.content').modal('hide');}, 1000);
            $('body').on('hidden.bs.modal', '.modal', function() {
                $(this).removeData('bs.modal');
            });
        }
    });
</script>