<table class="table table-borderless event-count-table">
    <colgroup>
        <col class="col-name"/>
        <col class="col" span="12"/>
        <col class="col-total" />
    </colgroup>
    <thead>
        <tr>
            {% for column in header %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for entry in row %}
                    <td {% if forloop.last %}class="total-cell"{% endif %}>{{ entry|default:"-" }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% for column in footer %}
                <td>{{ column }}</td>
            {% endfor %}
        </tr>
    </tfoot>
</table>
