{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block head_title %}Tracking | New Charter{% endblock head_title %}

{% block extra_style %}
	<style>
		.form-notice-container {
			padding: 1rem;
			margin-bottom: 2rem;
			background-color: rgba(0,0,0,0.075);
			border-radius: 5px;
		}
		.form-notice {
			font-weight: lighter;
		}
	</style>
{% endblock extra_style %}	

{% block body %}

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">New Translation Project Charter</h2>
				</div>
				<div class="panel-body">
					<div class="form-notice-container">
						<p class="form-notice">Note: Searching for a language for the first time may take a while.</p>
						<p class="form-notice">Note: If your language doesn't show up on the search, it's because that language is not in our database yet. Request one <a href="{% url "templanguage_create" %}">here</a></p>
					</div>
					<form action="{% url 'tracking:charter_add' %}" method="POST" class="form">
						{% csrf_token %}
						{{ form | bootstrap }}
						<button type="submit" class="btn btn-primary pull-right">
							{% if form.errors %}Try again{% else %}Add Project{% endif %}
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock body%}
