{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}
{% load show_event_count_form %}

{% block head_title %}Event Count{% endblock %}


{% block body_class %}home event-count{% endblock %}


{% block body_base %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url "tracking:event_list" %}">Events</a></li>
            <li>Event Count</li>
        </ol>
        <h2>Event Count</h2>
        <hr />
        {% show_event_count_form container=".event-count-table-container" selected_region=region selected_fy=financial_year %}
        <hr />
        <div class="event-count-table-container" data-url="{% url "tracking:ajax_event_count" %}" data-region="{{ region|default:"" }}" data-financial-year="{{ financial_year|default:"" }}">
            <!-- load table here -->
        </div>
    </div>
{% endblock %}
