{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}
    {% if view == "create" %}New{% else %}Update{% endif %} Event
{% endblock head_title %}

{% block extra_style %}
    <style>
        form .form-group::after {
            content: '';
            display: block;
            clear: both;
        }
        .control-label-sub {
            font-size: 90%;
            font-weight: 300;
            color: #444;
        }
        .full-width {
            width: 100%;
        }
        .half-width {
            width: 50%;
        }
        .quarter-width {
            width: 25%;
        }

        .date-input {
            width: calc(33.33% - 3px);
            display: inline-block;
            float: left;
            margin-right: 3px;
        }
        .date-input:last-child {
            width: 33.33%;
            margin-right: 0;
        }

        .inline div, .inline label {
            display: inline;
            float: left;
        }
        .inline-input {
            margin-top: 0.1rem;
        }
        .inline input[type="checkbox"].form-control {
            width: 20px;
            height: 20px;
            margin: 7px auto 0 auto;
        }
        .facilitator-text {
            width: calc(100% - 140px);
        }
        .facilitator-checkboxes {
            width: 140px;
        }
        .material-text, .translator-text {
            width: calc(100% - 70px);
        }
        .material-checkboxes, .translator-checkboxes {
            width: 70px;
        }
        .btn-add {
            margin-left: 1rem;
        }

        input[type="checkbox"] {
            width: auto;
            margin: 0 1rem;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        ul > li > label {
            font-weight: lighter;
        }
        .form-notice-container {
            padding: 1rem;
            margin-bottom: 2rem;
            background-color: rgba(0,0,0,0.075);
            border-radius: 5px;
            font-weight: lighter;
        }
    </style>
{% endblock extra_style %}  

{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="charterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Modal end -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{% if view == "create" %}New{% else %}Update{% endif %} Translation Event/Workshop</h2>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" class="form">
                        {% csrf_token %}

                        {{ form.charter | bootstrap }}

                        <div class="form-notice-container">
                            <p class="form-notice">
                                Can't find your charter? It probably has not been created. Why not 
                                <a href="{% url 'tracking:new_charter_modal' %}" data-toggle="modal" data-target="#modal" title="New Charter" data-tooltip>Create one</a>
                                right now and try again?
                            </p>
                        </div>

                        {{ form.start_date | bootstrap }}
                        {{ form.end_date | bootstrap }}
                        {{ form.location | bootstrap }}
                        {{ form.lead_dept | bootstrap }}
                        {{ form.contact_person | bootstrap }}
                        {{ form.current_check_level | bootstrap }}
                        {{ form.target_check_level | bootstrap }}

                        <!-- form.translators -->
                        <div class="form-group clearfix">
                            <div class="inline inline-label">
                                <div class="translator-text">
                                    <label class="control-label">Translator</label>
                                    <a id="add-translator" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="translator-checkboxes">
                                    <label class="control-label control-label-sub full-width text-center" title="Indicates that the translator has signed all the terms of use documents (Statement of Faith, Translation Guidelines, and Sharing Licenses">ToU</label>
                                </div>
                            </div>
                            <div id="translator-list">
                                {% for translator in translators %}
                                    <div class="inline inline-input clearfix">
                                        <div class="translator-text clearfix">
                                            <input name="translator{{ forloop.counter0 }}" type="text" class="form-control" value="{{ translator.name }}"/>
                                        </div>
                                        <div class="translator-checkboxes">
                                            <div class="full-width"><input name="docs_signed{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if translator.docs_signed %}checked{% endif %} /></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- form.facilitators -->
                        <div class="form-group clearfix">
                            <div class="inline inline-label">
                                <div class="facilitator-text">
                                    <label class="control-label">Facilitator</label>
                                    <a id="add-facilitator" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="facilitator-checkboxes">
                                    <label class="control-label control-label-sub half-width text-center">Lead</label>
                                    <label class="control-label control-label-sub half-width text-center">Speaks GL</label>
                                </div>
                            </div>
                            <div id="facilitator-list">
                                {% for facilitator in facilitators %}
                                    <div class="inline inline-input clearfix">
                                        <div class="facilitator-text clearfix">
                                            <input name="facilitator{{ forloop.counter0 }}" type="text" class="form-control" value="{{ facilitator.name }}"/>
                                        </div>
                                        <div class="facilitator-checkboxes">
                                            <div class="half-width"><input name="is_lead{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if facilitator.is_lead %}checked{% endif %} /></div>
                                            <div class="half-width"><input name="speaks_gl{{ forloop.counter0 }}" type="checkbox" class="form-control"  {% if facilitator.speaks_gl %}checked{% endif %} /></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- form.materials -->
                        <div class="form-group clearfix">
                            <div class="inline inline-label">
                                <div class="material-text">
                                    <label class="control-label">Material</label>
                                    <a id="add-material" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
                                </div>
                                <div class="material-checkboxes">
                                    <label class="control-label control-label-sub full-width text-center">Copyrighted</label>
                                </div>
                            </div>
                            <div id="material-list">
                                {% for material in materials %}
                                    <div class="inline inline-input clearfix">
                                        <div class="material-text clearfix">
                                            <input name="material{{ forloop.counter0 }}" type="text" class="form-control" value="{{ material.name }}"/>
                                        </div>
                                        <div class="material-checkboxes">
                                            <div class="full-width"><input name="licensed{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if not material.licensed %}{% else %}checked{% endif %} /></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-notice-container">
                            <p class="form-notice">Note: From this point on, select ALL that applies.</p>
                            <p class="form-notice">Note: Hold Ctrl when clicking to select multiple items from the scrolling list.</p>
                        </div>

                        {{ form.departments | bootstrap }}
                        {{ form.networks | bootstrap }}
                        {{ form.translation_methods | bootstrap }}
                        {{ form.software | bootstrap }}
                        {{ form.hardware | bootstrap }}
                        {{ form.output_target | bootstrap }}
                        {{ form.publication | bootstrap }}
                        {{ form.comment | bootstrap }}

                        <button type="submit" class="btn btn-primary pull-right">
                            {% if form.errors %}Try again{% else %}Add Event{% endif %}
                        </button>

                        <input type="hidden" name="translator-count" value="0" />
                        <input type="hidden" name="facilitator-count" value="0" />
                        <input type="hidden" name="material-count" value="0" />
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body%}

{% block custom_bottom_script %}
    <!-- Custom script for new charter modal -->
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock custom_bottom_script %}
