{% extends "site_base.html" %}


{% load i18n %}
{% load bootstrap %}

{% block head_title %}Tracking | Downloadable Files{% endblock head_title %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Downloadable Files</h2>
                </div>
                <div class="panel-body">
                    <p>
                        {% url "tracking:download_file" file_name="translation_event_planning_worksheet.pdf" as file_1 %}
                        {% blocktrans %}
                            <a href="{{file_1}}" class="link">Translation Event Planning Worksheet</a>
                        {% endblocktrans %}
                    </p>
                </div>
            </div>

            <a href="{% url "tracking:project_list" %}" class="btn btn-primary large"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        </div>
    </div>

{% endblock body%}

{% block extra_script %}
{% endblock extra_script %}