{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Tracking | Multi-Charter Event Form{% endblock head_title %}


{% block body_class %}multi-charter-event-form{% endblock body_class %}


{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="charterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Multiple Charter Event Form | Step <span>{{ wizard.steps.step1 }}</span> of <span>{{ wizard.steps.count }}</span></h2>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" class="form">
                        {% csrf_token %}
                        {{ wizard.management_form }}

                        <div class="form-notice-container">
                            <p class="form-notice">Note: <strong>*</strong> indicates required fields</p>
                        </div>

                        {% if wizard.steps.step0 == 0 %}
                            <div class="form-notice-container">
                                <p class="form-notice">Note: Searching for a language for the first time may take a while.</p>
                                <p class="form-notice">Note: If your language doesn't show up on the search, it's because that language is not in our database yet. Email <a>help@door43.org</a> for more info.</p>
                            </div>
                            <div id="charter-list" class="charter-list">
                                {% for field in wizard.form %}
                                    <div class="entry">
                                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                                            <label class="control-label required" for="id_0-language_{{ forloop.counter0 }}">{{ field.label}}</label>
                                            <div class="">
                                                {{field}}
                                            </div>
                                        </div>
                                        <a href="" class="remove-charter-link" style="margin-top: -2rem; font-weight: lighter;">Remove</a>
                                    </div>
                                {% endfor %}
                            </div>

                            <a href="" class="add-charter-link" style="display: block; margin: 1rem 0; font-weight: lighter;">Add</a>

                            <p style="clear: both; padding: 1rem 0; font-weight: lighter;">
                                Can't find your charter? It probably has not been created. Why not 
                                <a href="{% url 'tracking:new_charter_modal' %}" data-toggle="modal" data-target="#modal" title="New Charter" data-tooltip>Create one</a>
                                right now and try again?
                            </p>
                        {% elif wizard.steps.step0 == 1 %}
                            {{ wizard.form.location | bootstrap }}
                            {{ wizard.form.start_date | bootstrap }}
                            {{ wizard.form.end_date | bootstrap }}
                            {{ wizard.form.lead_dept | bootstrap }}
                            {{ wizard.form.contact_person | bootstrap }}
                            {{ wizard.form.partner | bootstrap }}
                            {{ wizard.form.current_check_level | bootstrap }}
                            {{ wizard.form.target_check_level | bootstrap }}

                            <!-- form.translators -->
                            <div class="form-group clearfix">
                                <div class="inline inline-label">
                                    <div class="translator-text">
                                        <label class="control-label">Translator</label>
                                        <a id="add-translator" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                    <div class="translator-checkboxes">
                                        <label class="control-label control-label-sub full-width text-center" title="Indicates that the translator has signed all the terms of use documents (Statement of Faith, Translation Guidelines, and Sharing Licenses">ToU</label>
                                    </div>
                                </div>
                                <div id="translator-list">
                                    {% for translator in translators %}
                                        <div class="inline inline-input clearfix">
                                            <div class="translator-text clearfix">
                                                <input name="translator{{ forloop.counter0 }}" type="text" class="form-control" value="{{ translator.name }}"/>
                                            </div>
                                            <div class="translator-checkboxes">
                                                <div class="full-width"><input name="docs_signed{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if translator.signed_docs %}checked{% endif %} /></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- form.facilitators -->
                            <div class="form-group clearfix">
                                <div class="inline inline-label">
                                    <div class="facilitator-text">
                                        <label class="control-label">Facilitator</label>
                                        <a id="add-facilitator" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                    <div class="facilitator-checkboxes">
                                        <label class="control-label control-label-sub half-width text-center">Lead</label>
                                        <label class="control-label control-label-sub half-width text-center">Speaks GL</label>
                                    </div>
                                </div>
                                <div id="facilitator-list">
                                    {% for facilitator in facilitators %}
                                        <div class="inline inline-input clearfix">
                                            <div class="facilitator-text clearfix">
                                                <input name="facilitator{{ forloop.counter0 }}" type="text" class="form-control" value="{{ facilitator.name }}"/>
                                            </div>
                                            <div class="facilitator-checkboxes">
                                                <div class="half-width"><input name="is_lead{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if facilitator.is_lead %}checked{% endif %} /></div>
                                                <div class="half-width"><input name="speaks_gl{{ forloop.counter0 }}" type="checkbox" class="form-control"  {% if facilitator.speaks_gl %}checked{% endif %} /></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- form.materials -->
                            <div class="form-group clearfix">
                                <div class="inline inline-label">
                                    <div class="material-text">
                                        <label class="control-label">Material</label>
                                        <a id="add-material" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
                                    </div>
                                    <div class="material-checkboxes">
                                        <label class="control-label control-label-sub full-width text-center">Copyrighted</label>
                                    </div>
                                </div>
                                <div id="material-list">
                                    {% for material in materials %}
                                        <div class="inline inline-input clearfix">
                                            <div class="material-text clearfix">
                                                <input name="material{{ forloop.counter0 }}" type="text" class="form-control" value="{{ material.name }}"/>
                                            </div>
                                            <div class="material-checkboxes">
                                                <div class="full-width"><input name="licensed{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if material.licensed %}checked{% endif %} /></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-notice-container">
                                <p class="form-notice">Note: From this point on, select ALL that applies.</p>
                                <p class="form-notice">Note: Hold Ctrl when clicking to select multiple items from the scrolling list.</p>
                            </div>

                            {{ wizard.form.departments | bootstrap }}
                            {{ wizard.form.translation_methods | bootstrap }}
                            {{ wizard.form.software | bootstrap }}
                            {{ wizard.form.hardware | bootstrap }}
                            {{ wizard.form.output_target | bootstrap }}
                            {{ wizard.form.publication | bootstrap }}
                            {{ wizard.form.comment | bootstrap }}

                            <input type="hidden" name="translator-count" value="0" />
                            <input type="hidden" name="facilitator-count" value="0" />
                            <input type="hidden" name="material-count" value="0" />
                            <input type="hidden" name="charter-lookup" value="{{ charter_lookup }}" />
                        {% endif %}
                        
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                        
                        <button type="submit" class="btn btn-primary pull-right">
                            {% if form.errors %}
                                Try again
                            {% else %}
                                {% if wizard.steps.step0 == 0 %}
                                    Create Event
                                {% elif wizard.steps.step0 == 1 %}
                                    Submit Event
                                {% endif %}
                            {% endif %}
                        </button>

                        {% if wizard.steps.prev %}
                            <button name="wizard_goto_step" type="submit" class="btn btn-default" value="{{wizard.steps.prev}}">Back</button>
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock body%}

{% block custom_bottom_script %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        // Will affect step 1
        $(document).ready(function() {
            // INITIAL SCRIPTS
            // ===============
            var list = document.querySelectorAll('input.language-selector-marked');
            if (list.length) {
                var number = 0;
                for (var i = 0; i < list.length; i++) {
                    if (parseInt(list.item(i).id.substring(14)) > number) {
                        number = parseInt(list.item(i).id.substring(14));
                    }
                }
            }
            // Late/delayed initialization of language selectors
            $('.language-selector-marked').languageSelector();
            // Populate partner from charter's partner
            if (document.querySelector('input[name="charter-lookup"]')) { updatePartner(); }

            // EVENT LISTENERS
            // ===============
            $('.add-charter-link').on('click', function(e) {
                e.preventDefault();
                addCharter();
            });
            $('.charter-list').on('click', '.remove-charter-link', function(e) {
                e.preventDefault();
                removeCharter(this);
            });

            // FUNCTION DEFS
            // =============
            function addCharter() {
                // Increment number to get unique id
                number += 1;
                // Define element
                var el = '<div class="entry">' +
                         '    <div class="form-group">' +
                         '        <label class="control-label required " for="id_0-language_' + number + '">Charter</label>' +
                         '        <div class=" ">' +
                         '            <input class="language-selector-marked form-control" data-source-url="/tracking/ac/charters" id="id_0-language_' + number + '" maxlength="200" name="0-language_' + number + '" type="text">' +
                         '        </div>' + 
                         '    </div>' +
                         '    <a href="" class="remove-charter-link" style="margin-top: -2rem; font-weight: lighter;">Remove</a>' +
                         '</div>';
                // Append element to the target container
                $('#charter-list').append(el);
                // Turn the element into language selector
                $('#id_0-language_' + number).languageSelector();
            }

            function removeCharter(el) {
                // Remove the container element of the selected element
                $(el.parentElement).detach();
            }

            function updatePartner() {
                var partner = document.querySelector('#id_1-partner');
                if (partner.value) { return false; }

                var charterId = document.querySelector('input[name="charter-lookup"]');
                if (charterId.value) {
                    $.ajax({url:'{% url "tracking:charter_partner_lookup" %}?pk=' + charterId.value}).done(function(data) {
                        partner.value = data;
                    });
                }
        }
        });

        // Will affect step 2
        $(document).ready(function() {
            // Initial scripts
            // 
            var required_fields = ['start_date', 'end_date', 'location', 'lead_dept', 'contact_person'];
            required_fields.forEach(function(field) {
                field = document.querySelector('label[for="id_1-' + field + '"]');
                if (field) {
                    field.classList.add('required');
                }
            });
        });
    </script>
{% endblock custom_bottom_script %}