{% load i18n %}
{% load bootstrap %}

<form id="new_charter_modal" action="{% url 'tracking:new_charter_modal' %}" method="POST" class="form" role="form">
    <div class="modal-header">
        <button name="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title" id="charterModalLabel">New Charter</h4>
    </div>
    <div class="modal-body">
        {% if success %}
            <p class="success">Project charter has been created. Close this and try again.</p>
        {% else %}
            <div class="form-notice-container">
                <p class="form-notice">Note: Searching for a language for the first time may take a while.</p>
                <p class="form-notice">Note: If your language doesn't show up on the search, it's because that language is not in our database yet. Email <a>help@door43.org</a> for more info.</p>
            </div>
            {% csrf_token %}
            {{ form | bootstrap}}
        {% endif %}
    </div>
    <div class="modal-footer">
        {% if not success %}
            <button name="cancel" type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary pull-right">
                {% if form.errors %}Try again{% else %}Add Project{% endif %}
            </button>
        {% endif %}
    </div>
</form>
<script>
    $(document).ready(function() {
        // Initial scripts
        // 
        $('.language-selector').languageSelector();
        var form_options = {
            target: '.modal-content',
            success: function() { }
        }
        $('#new_charter_modal').ajaxForm(form_options);

        // Event Listeners
        // 
        ['button[name="cancel"]', 'button[name="close"]'].forEach(function(el) {
            $(el).on('click', hideAndClear);
        });

        // Function definitions
        // 
        function hideAndClear() {
        setTimeout(function() {jQuery('.modal.content').modal('hide');}, 1000);
        $('body').on('hidden.bs.modal', '.modal', function() {
            console.log('removing data');
            $(this).removeData('bs.modal');
        });
    }
    });
</script>