{%  extends "site_base.html" %}


{% block body %}
    <h1>Generate a temporary language code</h1>
    <p>Instructions here</p>
    <h2>Here's how it works</h2>
    <ol>
        <li>
            <p>Generate a temporary code by pressing the "Get code" button</p>
            <button class="btn btn-primary get-code" data-url="{% url 'tracking:ajax_temporary_code' %}">Get Code</button>
            <div class="temp-code"></div>
        </li>
        <li>
            <p>To use this code, you must create a charter with the "Create charter" button. Otherwise, the code will be let go and you'll have to generate a new one later.</p>
            <button class="btn btn-primary create-charter">Create Charter</button>
        </li>
    </ol>
{% endblock %}


{% block custom_bottom_script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            //
            var getCodeBtn = document.querySelector('.get-code');
            getCodeBtn.addEventListener('click', function() {
                $('.temp-code')
                    .load(getCodeBtn.dataset.url, function(response, status, xhr) {
                        if (status === 'error') console.log(status);
                    });
            });
        });

    </script>
{% endblock %}