{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Tracking | Under Construction{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <h1>{% blocktrans %}Sorry :-({% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                This part of the app is still being worked on.
                {% endblocktrans %}
            </p>
            {% url "tracking:project_list" as url_tracking_home %}
            {% blocktrans %}
                <a href="{{ url_tracking_home }}" class="btn btn-primary large">Tracking | Home</a>
            {% endblocktrans %}
        </div>
    </section>
{% endblock %}
