{% extends "site_base.html" %}

{% block body %}
<h1>Additional Languages</h1>
<p class="lead">
    These are languages added to the system that don't exist in formal / official sources.
</p>
<table class="table table-bordered" data-source="{% url "ajax_ds_additional_languages" %}">
    <thead>
        <tr>
            <th>IETF Tag</th>
            <th>Two Letter</th>
            <th>Three Letter</th>
            <th>Common Name</th>
            <th>Native Name</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
