{% extends "site_base.html" %}

{% block body %}
<h1>Ethnologue <span class="light">Country Codes</span></h1>
<p class="lead">
    The 234 countries of the world. These are loaded from the <code>CountryCodes.tab</code> file provided by the <a href="http://www.ethnologue.com">Ethnologue <i class="fa fa-external-link"></i></a>. These codes are sourced from the international standard known as <strong>ISO-3166-1</strong>.
</p>
<table class="table table-bordered" data-source="{% url "ajax_ds_ethnologue_country_codes" %}">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Area</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
