{% extends "site_base.html" %}

{% block body %}
<h1>Ethnologue <span class="light">Language Codes</span></h1>
<p class="lead">
    The 234 countries of the world. These are loaded from the <code>LanguageCodes.tab</code> file provided by the <a href="http://www.ethnologue.com">Ethnologue <i class="fa fa-external-link"></i></a>.
</p>
<table class="table table-bordered" data-source="{% url "ajax_ds_ethnologue_language_codes" %}">
    <thead>
        <tr>
            <th>Code</th>
            <th>Country</th>
            <th>Status</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
