{% extends "site_base.html" %}

{% block body %}
<h1>Ethnologue <span class="light">Language Index</span></h1>
<p class="lead">
    The distinct names for over 7,000 languages. These are loaded from the <code>LanguageIndex.tab</code> file provided by the <a href="http://www.ethnologue.com">Ethnologue</a>.
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Country</th>
            <th>Type</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for row in object_list %}
        <tr>
            <td>{{ row.language_code }}</td>
            <td>{{ row.country_code }}</td>
            <td>{{ row.get_name_type_display }}</td>
            <td>{{ row.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination/pagination.html" %}
{% endblock %}
