{% extends "site_base.html" %}

{% block body %}
<h1>IMB <span class="light">People Groups</span></h1>
<p class="lead">
    Listing of People Groups data as part of the Global Status of Evangelical Christianity report from the <code>monthly.xls</code> file provided by <a href="http://public.imb.org/globalresearch/Pages/ResearchData.aspx">Global Research, International Mission Board <i class="fa fa-external-link"></i></a>.
</p>
<table class="table table-bordered" data-source="{% url "ajax_ds_imb_peoplegroups" %}">
    <thead>
        <tr>
            <th>PEID</th>
            <th>Affinity Bloc</th>
            <th>People Cluster</th>
            <th>Sub-Continent</th>
            <th>Country</th>
            <th>Country of Origin</th>
            <th>People Group</th>
            <th>Population</th>
            <th>Dispersed</th>
            <th>ROL</th>
            <th>Language</th>
            <th>Religion</th>
            <th><span data-toggle="tooltip" title="Written Scripture" data-placement="top">W</span></th>
            <th><span data-toggle="tooltip" title="Jesus Film" data-placement="top">J</span></th>
            <th><span data-toggle="tooltip" title="Radio Broadcast" data-placement="top">R</span></th>
            <th><span data-toggle="tooltip" title="Gospel Reading" data-placement="top">G</span></th>
            <th><span data-toggle="tooltip" title="Audio Scripture" data-placement="top">A</span></th>
            <th><span data-toggle="tooltip" title="Bible Stories" data-placement="top">B</span></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
