{% extends "site_base.html" %}

{% block body %}
<h1>SIL <span class="light">ISO 639-3</span></h1>
<p class="lead">
    Raw data from SIL's <a href="http://www-01.sil.org/iso639-3/iso-639-3.tab">ISO 639-3 Code Set <i class="fa fa-external-link"></i></a>.
</p>
<table class="table table-bordered" data-source="{% url "ajax_ds_sil" %}">
    <thead>
        <tr>
            <th>Code</th>
            <th nowrap>Part 2B</th>
            <th nowrap>Part 2T</th>
            <th nowrap>Part 1</th>
            <th>Scope</th>
            <th>Type</th>
            <th>Name</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}
