{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% if lang %}Update{% else %}Create{% endif %} Open Bible Story{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
        <li><a href="{% url "obs_list" %}">{% trans "Open Bible Stories" %}</a></li>
        <li>{% if lang %}Update{% else %}Create{% endif %} Open Bible Story</li>
    </ul>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        {% if lang %}Update{% else %}Create{% endif %} Open Bible Story{% if lang %} for {{ lang.langname }}{% endif %}
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <button type="submit" class="btn btn-primary pull-right">
                            {% if lang %}Update{% else %}Create{% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_script %}
    <script>
    $(function() {

        $('#id_publish').click(function() {
            var disable = !this.checked;
            $('#id_checking_level').attr('disabled', disable);
            $('#id_checking_entity').attr('disabled', disable);
            $('#id_version').attr('disabled', disable);
        });
    });
    </script>
{% endblock %}