<td>
    {% if not version %}
        <a href="{% url "obs_update" obs.language.langcode %}" class="btn btn-xs btn-default">
            <i class="fa fa-pencil"></i>
            Edit
        </a>
    {% endif %}
</td>
<td class="language">
    {% if not version %}
        <a href="{% url "obs_detail" obs.pk %}">
            {{ obs.language.langname }} ({{ obs.language.langcode }})
        </a>
        <br />
    {% endif %}
    <small class="text-muted">
        {% if version %}{{ version.revision.date_created }} / {{ version.revision.user }}{% else %}{{ obs.created }} / {{ obs.created_by }}{% endif %}
    </small>
</td>
<td>{{ obs.contqct }}</td>
<td>{{ obs.date_started }}</td>
<td>{{ obs.notes }}</td>
<td>{% if obs.offline %}<i class="fa fa-fw fa-check"></i>{% endif %}</td>
<td>{{ obs.publish_date|default:"" }}</td>
<td>{{ obs.version|default:"" }}</td>
<td>
    {% if obs.source_text %}{{ obs.source_text }}{% endif %}
    {% if obs.source_version %} v{{ obs.source_version }}{% endif %}
</td>
<td>{% for c in obs.checking_entity.all %}{{ c.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
<td>{{ obs.checking_level|default:"" }}</td>