{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Official Resources" %}{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
        <li>{% trans "Official Resources" %}</li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-heading panel-heading-with-table">
            <a href="{% url "publish_request" %}" class="btn btn-xs btn-primary pull-right">
                <i class="fa fa-plus"></i>
                Add
            </a>
            <h2 class="panel-title">{% trans "Publish Requests" %}</h2>
        </div>
        {% if publish_requests %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Requestor</th>
                        <th>Resource</th>
                        <th>Language</th>
                        <th>Checking Level</th>
                        <th>Contributors</th>
                        <th>Created at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pr in publish_requests %}
                        <tr>
                            {% include "publishing/_pr_row_data.html" with pr=pr %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">None</div>
        {% endif %}
        <div class="panel-heading panel-heading-with-table">
            <a href="{% url "oresource_create" %}" class="btn btn-xs btn-primary pull-right">
                <i class="fa fa-plus"></i>
                Add
            </a>
            <h2 class="panel-title">{% trans "Official Resources" %}</h2>
        </div>
        {% if object_list %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Language</th>
                        <th>Contact</th>
                        <th>Date Started</th>
                        <th>Notes</th>
                        <th>Offline</th>
                        <th>Publish Date</th>
                        <th>Version</th>
                        <th>Source</th>
                        <th>Checking Entity</th>
                        <th>Checking Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for oresource in object_list %}
                        <tr>
                            {% include "publishing/_oresource_row_data.html" %}
                        </tr>
                        {% for version in oresource.versions %}
                            <tr class="version">
                                {% include "publishing/_oresource_row_data.html" with oresource=version.object_version.object %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">None, <a href="{% url "oresource_create" %}">add one</a>!</div>
        {% endif %}
    </div>

{% endblock %}
