{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}{{ officialresource.language }} Official Resource {{ officialresource.resource_type }}{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
        <li><a href="{% url "oresource_list" %}">{% trans "Official Resources" %}</a></li>
        <li>{{ officialresource.language }}</li>
    </ul>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        {{ officialresource.language }}
                    </h2>
                </div>
                <div class="panel-body">
                    {{ officialresource.resource_type }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
