{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Request Publication{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Reject a Request a Publication
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Are you sure you want to Reject (delete) this request for publication: ({{ object.pk }}) {{ object.resource_type }} in ({{ object.language.code }}) {{ object.language.name }}</p>
                        <div class="actions pull-right">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            <a href="{% url "publish_request_update" object.pk %}" class="btn btn-danger">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
