Received Publish Request #{{ publish_request.pk }}
==================================================

by: {{ publish_request.requestor }} for {{ publish_request.resource }} in {{ publish_request.language }}

Details

Requestor        {{ publish_request.requestor }}
Resource         {{ publish_request.resource }}
Language         {{ publish_request.language }}
Checking Level   {{ publish_request.checking_level }}
Source Text      {{ publish_request.source_text }}
Source Version   {{ publish_request.source_version }}
Contributors     {{ publish_request.contributors }}
Create Date/Time {{ publish_request.created_at }}

Your publish request has been received and will be reviewed
