{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Translation Project Charter | Add{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Add a Translation Project Charter</h2>
				</div>
				<div class="panel-body">
					<form action="{% url 'tracking:charter_add' %}" method="POST" class="form">
						{% csrf_token %}
						{{ form | bootstrap }}
						<button type="submit" class="btn btn-primary pull-right">
							{% if form.errors %}
								Try again
							{% else %}
								Add Project
							{% endif %}
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block extra_script %}
{% endblock %}