{% extends "site_base.html" %}

{% load humanize %}

{% block body %}
	
	{% include "_messages.html" %}
	
	<h1>
		Project {{ charter.language.name }}
	</h1>

	{% if user.is_authenticated %}
		<a class="btn btn-default btn-xs" href="{% url 'tracking:charter_update' charter.id %}"><i class="fa fa-pencil"></i> Edit</a>
	{% endif %}

	<!-- <ul>
		{% for name, value in charter.get_fields %}
			<li>{{ name }}: {{ value }}</li>
		{% endfor %}
	</ul> -->

	<!-- <h3>Events:</h3> -->

	<!-- <ul>
		{% for event in charter.event_set.all %}
		<li><a href="{% url 'tracking:event' event.id %}">{{ event.id }}</a></li>
		{% endfor %}
	</ul> -->

{% endblock body %}