{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Translation Project Event | New{% endblock head_title %}

{% block extra_style %}
	<style>
		form .form-group::after {
			content: '';
			display: block;
			clear: both;
		}
		.control-label-sub {
			font-size: 90%;
			font-weight: 300;
			color: #444;
		}
		.full-width {
			width: 100%;
		}
		.half-width {
			width: 50%;
		}
		.quarter-width {
			width: 25%;
		}

		.date-input {
			width: calc(33.33% - 3px);
			display: inline-block;
			float: left;
			margin-right: 3px;
		}
		.date-input:last-child {
			width: 33.33%;
			margin-right: 0;
		}

		.inline div, .inline label {
			display: inline;
			float: left;
		}
		.inline-input {
			margin-top: 0.1rem;
		}
		.inline input[type="checkbox"].form-control {
			width: 20px;
			height: 20px;
			margin: 7px auto 0 auto;
		}
		.facilitator-text {
			width: calc(100% - 140px);
		}
		.facilitator-checkboxes {
			width: 140px;
		}
		.material-text {
			width: calc(100% - 70px);
		}
		.material-checkboxes {
			width: 70px;
		}
		.btn-add {
			margin-left: 1rem;
		}
	</style>
{% endblock extra_style %}	

{% block body %}

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">New Translation Workshop/Event</h2>
				</div>
				<div class="panel-body">
					<form action="" method="POST" class="form">
						{% csrf_token %}

						{{ form.charter | bootstrap }}
						{{ form.start_date | bootstrap }}
						{{ form.end_date | bootstrap }}
						{{ form.location | bootstrap }}
						{{ form.lead_dept | bootstrap }}
						{{ form.contact_person | bootstrap }}

						<!-- form.translators -->
						<div class="form-group clearfix">
							<div class="inline inline-label">
								<div class="translator-text full-width">
									<label class="control-label">Translator</label>
									<a id="add-translator" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
								</div>
							</div>
							<div id="translator-list">
								{% for translator in translators %}
									<div class="inline inline-input clearfix">
										<div class="translator-text clearfix full-width">
											<input name="translator{{ forloop.counter0 }}" type="text" class="form-control" value="{{ translator.name }}"/>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>

						<!-- form.facilitators -->
						<div class="form-group clearfix">
							<div class="inline inline-label">
								<div class="facilitator-text">
									<label class="control-label">Facilitator</label>
									<a id="add-facilitator" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
								</div>
								<div class="facilitator-checkboxes">
									<label class="control-label control-label-sub half-width text-center">Lead</label>
									<label class="control-label control-label-sub half-width text-center">Speaks GL</label>
								</div>
							</div>
							<div id="facilitator-list">
								{% for facilitator in facilitators %}
									<div class="inline inline-input clearfix">
										<div class="facilitator-text clearfix">
											<input name="facilitator{{ forloop.counter0 }}" type="text" class="form-control" value="{{ facilitator.name }}"/>
										</div>
										<div class="facilitator-checkboxes">
											<div class="half-width"><input name="is_lead{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if facilitator.is_lead %}checked{% endif %} /></div>
											<div class="half-width"><input name="speaks_gl{{ forloop.counter0 }}" type="checkbox" class="form-control"  {% if facilitator.speaks_gl %}checked{% endif %} /></div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>

						<!-- form.materials -->
						<div class="form-group clearfix">
							<div class="inline inline-label">
								<div class="material-text">
									<label class="control-label">Material</label>
									<a id="add-material" class="btn btn-default btn-xs btn-add" href=""><i class="fa fa-plus"></i></a>
								</div>
								<div class="material-checkboxes">
									<label class="control-label control-label-sub full-width text-center">Licensed</label>
								</div>
							</div>
							<div id="material-list">
								{% for material in materials %}
									<div class="inline inline-input clearfix">
										<div class="material-text clearfix">
											<input name="material{{ forloop.counter0 }}" type="text" class="form-control" value="{{ material.name }}"/>
										</div>
										<div class="material-checkboxes">
											<div class="full-width"><input name="licensed{{ forloop.counter0 }}" type="checkbox" class="form-control" {% if material.licensed %}checked{% endif %} /></div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>

						{{ form.current_check_level | bootstrap }}
						{{ form.target_check_level | bootstrap }}
						{{ form.departments | bootstrap }}
						{{ form.networks | bootstrap }}
						{{ form.translation_methods | bootstrap }}
						{{ form.software | bootstrap }}
						{{ form.hardware | bootstrap }}
						{{ form.output_target | bootstrap }}
						{{ form.publishing_process | bootstrap }}

						<button type="submit" class="btn btn-primary pull-right">
							{% if form.errors %}Try again{% else %}Add Event{% endif %}
						</button>

						<input type="hidden" name="translator-count" value="0" />
						<input type="hidden" name="facilitator-count" value="0" />
						<input type="hidden" name="material-count" value="0" />
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}

					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock body%}

{% block custom_bottom_script %}
<script>

	document.addEventListener('DOMContentLoaded', function (event) {

		// For the following fields...
		['translator', 'facilitator', 'material'].forEach(function(field) {
			// ... add the first row if there isn't any
			if (!$('[name="' + field + '0"]').length)
				addInline(field);

			// ... attach click event handler
			document.querySelector('#add-' + field).addEventListener('click', function(event) {
				event.preventDefault();
				addInline(field);
			});
		});

		// Add class:required to the following label
		var required_fields = ['charter', 'start_date', 'end_date', 'location', 'lead_dept', 'contact_person'];
		required_fields.forEach(function(field) {
			document.querySelector('label[for="id_' + field + '"]').classList.add('required');
		});
	});

	// ================
	// CUSTOM FUNCTIONS
	// ================

	//    addInline
	//    ---------
	function addInline(label) {
		var list = $('#' + label + '-list');
		var length = list.children().length;
		switch(label) {
			// Build facilitator element
			case 'facilitator':
				var elem = '<div class="inline inline-input clearfix">' +
					'<div class="facilitator-text clearfix">' +
						'<input name="facilitator' + length + '" type="text" class="form-control" />' +
					'</div>' +
					'<div class="facilitator-checkboxes">' +
						'<div class="half-width"><input name="is_lead' + length + '" type="checkbox" class="form-control" /></div>' +
						'<div class="half-width"><input name="speaks_gl' + length + '" type="checkbox" class="form-control" /></div>' +
					'</div>' +
				'</div>';
				break;
			// Build material element
			case 'material':
				var elem = '<div class="inline inline-input clearfix">' +
					'<div class="material-text clearfix">' +
						'<input name="material' + length + '" type="text" class="form-control" />' +
					'</div>' +
					'<div class="material-checkboxes">' +
						'<div class="full-width"><input name="licensed' + length + '" type="checkbox" class="form-control" /></div>' +
					'</div>' +
				'</div>';
				break;
			// Build translator element
			case 'translator':
				var elem = '<div class="inline inline-input clearfix">' +
					'<div class="translator-text full-width clearfix">' +
						'<input name="translator' + length + '" type="text" class="form-control" value="{{ translator.name }}"/>' +
					'</div>';
				break;
			default:
				var elem = '';
				break;
		}
		list.append(elem);
		addCount(label);
	}

	//    addCount
	//    --------
	function addCount(label) {
		var elem = document.getElementsByName(label + '-count');
		elem[0].value = parseInt(elem[0].value) + 1;
	}
</script>
{% endblock custom_bottom_script %}
