{% extends "site_base.html" %}
{% load render_dict %}

{% load humanize %}


{% block body %}

    <!-- {% include "resources/_breadcrumbs.html" with region=country.region %} -->

<h1>
    Event {{ event.number}} of {{ event.charter.language.name }} Project
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-xs" href="{% url "tracking:event_update" event.pk %}">Edit</a>
    {% endif %}
</h1>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr><th>Location</th><td>{{ event.location }}</td></tr>
                <tr><th>Start Date</th><td>{{ event.start_date }}</td></tr>
                <tr><th>End Date</th><td>{{ event.end_date }}</td></tr>
                <tr><th>Lead Department</th><td>{{ event.lead_dept }}</td></tr>
                <tr><th>Contact Person</th><td>{{ event.contact_person }}</td></tr>
                <tr><th>Checking Level (start, end)</th><td>{{ event.current_check_level | default:"n/a" }}, {{ event.target_check_level | default:"n/a" }}</td></tr>
                <tr><th>Created By</th><td>{{ event.created_by }}</td></tr>
                <tr><th>Created At</th><td>{{ event.created_at }}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr><th>Translation Method</th>
                    <td>
                        {% for method in event.translation_methods.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ method.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Translators</th>
                    <td>
                        {% for person in event.translators.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ person.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Supporting Departments</th>
                    <td>
                        {% for dept in event.departments.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ dept.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Networks Translating</th>
                    <td>
                        {% for network in event.networks.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ network.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Output Target</th>
                    <td>
                        {% for output in event.output_target.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ output.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Publication Process</th>
                    <td>
                        {% for publ in event.publication.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ publ.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
                <tr><th>Facilitators</th>
                    <td>
                        {% for person in event.facilitators.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ person.name | capfirst }}{% if person.is_lead %}   <i class="fa fa-user" title="Lead facilitator"></i>{% endif %}{% if person.speaks_gl %}   <i class="fa fa-commenting-o" title="This person speaks GL"></i>{% endif %} 
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Materials/Resources</th>
                    <td>
                        {% for item in event.materials.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ item.name | capfirst }}
                            {% if item.licensed %}   <i class="fa fa-copyright" title="Material is copyrighted"></i>{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Hardware</th>
                    <td>
                        {% for item in event.hardware.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ item.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
                <tr><th>Software</th>
                    <td>
                        {% for item in event.software.all %}
                            {% if not forloop.first %}<br/>{% endif %}{{ item.name | capfirst }}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
