{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Tracking | Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Tracking Dashboard{% endblocktrans %}</h1>
            {% if user.is_authenticated %}
            <p>
                {% blocktrans %}
                Every verse. Every tongue. Every heart.
                {% endblocktrans %}
            </p>
            {% url "tracking:event_add" as url_add_event %}
            {% url "tracking:charter_add" as url_add_charter %}
            {% blocktrans %}
                <a href="{{ url_add_charter }}" class="btn btn-primary large">Add a Charter</a>
                <a href="{{ url_add_event }}" class="btn btn-primary large">Add an Event</a>
            {% endblocktrans %}
            {% else %}
            <p>
                {% url "account_login" as login_url %}
                {% blocktrans %}
                    Login to get started.
                    <a href="{{ login_url }}" class="btn btn-default">Log In</a>
                {% endblocktrans %}
            </p>
            {% endif %}
        </div>
    </section>

    <section>
		<ul>
			{% for charter in charter_list %}
				<li><a href="{% url 'tracking:charter' charter.id %}">{{ charter.language }}</a></li>
			{% empty %}
				<li>Unfortunately, there is no charter to see at the moment.</li>
			{% endfor %}
		</ul>

		<ul>
			{% for event in event_list %}
				<li><a href="{% url 'tracking:event' event.charter %}">{{ event.charter }}</a></li>
			{% empty %}
				<p>Unfortunately, there is no event to see at the moment.</p>
			{% endfor %}
		</ul>
    </section>
{% endblock %}
