{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block head_title %}Translation Project Event | New{% endblock head_title %}

{% block extra_style %}
    <style>
        form .form-group::after {
            content: '';
            display: block;
            clear: both;
        }
        .form-group {
            margin-bottom: 0;
        }
        .entry {
            margin-bottom: 15px;
        }
        .control-label-sub {
            font-size: 90%;
            font-weight: 300;
            color: #444;
        }
        .full-width {
            width: 100%;
        }
        .half-width {
            width: 50%;
        }
        .quarter-width {
            width: 25%;
        }

        .date-input {
            width: calc(33.33% - 3px);
            display: inline-block;
            float: left;
            margin-right: 3px;
        }
        .date-input:last-child {
            width: 33.33%;
            margin-right: 0;
        }

        .inline div, .inline label {
            display: inline;
            float: left;
        }
        .inline-input {
            margin-top: 0.1rem;
        }
        .inline input[type="checkbox"].form-control {
            width: 20px;
            height: 20px;
            margin: 7px auto 0 auto;
        }
        .facilitator-text {
            width: calc(100% - 140px);
        }
        .facilitator-checkboxes {
            width: 140px;
        }
        .material-text {
            width: calc(100% - 70px);
        }
        .material-checkboxes {
            width: 70px;
        }
        .btn-add {
            margin-left: 1rem;
        }

        input[type="checkbox"] {
            width: auto;
            margin: 0 1rem;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        ul > li > label {
            font-weight: lighter;
        }
    </style>
{% endblock extra_style %}  

{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="charterModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Modal end -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Multiple Charter Event Form | Step <span>{{ wizard.steps.step1 }}</span> of <span>{{ wizard.steps.count }}</span></h2>
                </div>
                <div class="panel-body">
                    <form action="" method="POST" class="form">
                        {% csrf_token %}
                        {{ wizard.management_form }}

                        {{ wizard.form.non_field_errors }}
                        
                        <!-- TODO: Break down the form template so that we can display properly after POST -->
                        <div id="charter-list" class="charter-list">
                            {% if wizard.steps.step0 == 0 %}
                                {% for field in wizard.form %}
                                    <div class="entry">
                                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                                            <label class="control-label required" for="id_0-language_{{ forloop.counter0 }}">{{ field.label}}</label>
                                            <div class="">
                                                <!-- <input class="language-selector form-control" data-source-url="/tracking/ac/charters/lid" id="id_0-language_{{ forloop.counter0 }}" maxlength="200" name="0-language_{{ forloop.counter0 }}" type="text" value="{{ field.value | default:''}}"> -->
                                                {{field}}
                                            </div>
                                        </div>
                                        <a href="" class="remove-charter-link" style="margin-top: -2rem; font-weight: lighter;">Remove</a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ wizard.form | bootstrap }}
                            {% endif %}
                        </div>

                        <a href="" class="add-charter-link" style="display: block; margin: 1rem 0; font-weight: lighter;">Add</a>

                        <p style="clear: both; padding: 1rem 0; font-weight: lighter;">
                            Can't find your charter? It probably has not been created. Why not 
                            <a href="{% url 'tracking:new_charter_modal' %}" data-toggle="modal" data-target="#modal" title="New Charter" data-tooltip>Create one</a>
                            right now and try again?
                        </p>
                        
                        <input type="hidden" name="language-count" value="1" />
                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

                        <button type="submit" class="btn btn-primary pull-right">
                            {% if form.errors %}Try again{% else %}Add Charter{% endif %}
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock body%}

{% block custom_bottom_script %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script>
        $(document).ready(function() {
            // Initial scripts
            // 
            var l = document.querySelectorAll('input.language-selector');
            var i = l[l.length-1].id;
            console.log(i);
            var number = parseInt(i[i.length-1]);
            console.log('number', number);
            // 
            var count = parseInt($('input[name="language-count"]').val());
            // 
            $('.language-selector').languageSelector();

            // Event listeners
            // 
            $('.add-charter-link').on('click', function(e) {
                e.preventDefault();
                addCharter();
            });
            $('.charter-list').on('click', '.remove-charter-link', function(e) {
                e.preventDefault();
                removeCharter(this);
            });

            // Function defs
            // 
            function addCharter() {
                // Incrememnt number to get unique id
                number += 1;
                console.log('number', number);
                // Define element
                var el = '<div class="entry">' +
                         '    <div class="form-group">' +
                         '        <label class="control-label  " for="id_0-language_' + number + '">Charter</label>' +
                         '        <div class=" ">' +
                         '            <input class="language-selector form-control" data-source-url="/tracking/ac/charters" id="id_0-language_' + number + '" maxlength="200" name="0-language_' + number + '" type="text">' +
                         '        </div>' + 
                         '    </div>' +
                         '    <a href="" class="remove-charter-link" style="margin-top: -2rem; font-weight: lighter;">Remove</a>' +
                         '</div>';
                // Append element to the target container
                $('#charter-list').append(el);
                // Turn the element into language selector
                $('#id_0-language_' + number).languageSelector();
                // Increase the total count
                $('input[name="language-count"]').val(count += 1);
            }

            function removeCharter(el) {
                // Remove the container element of the selected element
                $(el.parentElement).detach();
                // Get and set the total count by one less
                var current = $('input[name="language-count"]').val();
                $('input[name="language-count"]').val(count -= 1);
            }
        });

    </script>
{% endblock custom_bottom_script %}