{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Tracking | Multi-Charter Event Success{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <h1>{% blocktrans %}Success{% endblocktrans %}</h1>
            {% if user.is_authenticated %}
                <p>
                    {% blocktrans %}
                    Your event has been created
                    {% endblocktrans %}
                </p>
                {% url "language_list" as url_language_list %}
                {% url "tracking:project_list" as url_tracking_home %}
                {% blocktrans %}
                	<a href="{{ url_language_list }}" class="btn btn-primary large">Language List</a>
                    <a href="{{ url_tracking_home }}" class="btn btn-primary large">Tracking Dashboard</a>
                {% endblocktrans %}
            {% else %}
            <p>
                {% url "account_login" as login_url %}
                {% blocktrans %}
                    Login to get started.
                    <a href="{{ login_url }}" class="btn btn-default">Log In</a>
                {% endblocktrans %}
            </p>
            {% endif %}
        </div>
    </section>
{% endblock %}
